<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign In</title>
</head>
<body>
    ProjectID: {{.App.ProjectID}}<br>
    AppID: {{.App.ID}}<br>
    AppName: {{.App.Name}}<br>
    AppIDAndName: {{.App.IDAndName}}<br>

    {{range .Providers}}
        <a href="{{.URL}}">{{.Name}}</a>
    {{end}}
</body>

</html>
