<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Starting ...</title>
</head>
<body>

ProjectID: {{.App.ProjectID}}<br>
AppID: {{.App.ID}}<br>
AppName: {{.App.Name}}<br>
AppIDAndName: {{.App.IDAndName}}<br>

Starting ...
</body>

</html>
