!.gitkeep

# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

!build/package/windows/signtool.exe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
/.idea

# Dependency directory
vendor/*

# Build dir
target

# Environment
/.env
/scripts/k6/.env

# Generated code
/**/gen/*
/**/openapi/*
!/**/openapi/fs.go

# Integration tests output
/src/tests/**/.out/*

# Air code watcher temp dir
/target/.watcher

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
