!.gitkeep

# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

!build/package/windows/signtool.exe

# Test binary, build with `go test -c`
*.test

# Output of tests
coverage.html
benchmark.txt
*.out
.actual

# IDE
/.idea
/.vscode

# Dependency directory
vendor/*

# Build dir
/target

# Environment
/.env
/projects.json
/scripts/k6/.env

# Integration tests output
/src/tests/**/.out/*

# Air code watcher temp dir
/target/.watcher

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# CPU profiles
/**/*.prof
/.claude

# Certificates
/ca
/certs
/testing_cli
