version: '3'
services:
  dev:
    image: keboolabot/keboola-as-code-dev
    build:
      context: .
      dockerfile: ./provisioning/dev/docker/Dockerfile
    links:
      - etcd
    volumes:
      - ./:/code:z
      - cache:/tmp/cache
    environment:
      # For all
      - TEST_KBC_PROJECTS
      # For Templates API
      - TEMPLATES_STORAGE_API_HOST=connection.keboola.com
      - TEMPLATES_API_LISTEN_ADDRESS=0.0.0.0:8000
      - TEMPLATES_API_PUBLIC_URL=http://localhost:8000
      - TEMPLATES_METRICS_LISTEN_ADDRESS=0.0.0.0:9000
      # For Buffer API
      - BUFFER_API_STORAGE_API_HOST=connection.keboola.com
      - BUFFER_API_LISTEN_ADDRESS=0.0.0.0:8001
      - BUFFER_API_METRICS_LISTEN_ADDRESS=0.0.0.0:9001
      - BUFFER_API_PUBLIC_ADDRESS=http://localhost:8001
      # For Buffer Worker
      - BUFFER_WORKER_STORAGE_API_HOST=connection.keboola.com
      - BUFFER_WORKER_METRICS_LISTEN_ADDRESS=0.0.0.0:9002
      # Disable DataDog integration
      - TEMPLATES_DATADOG_ENABLED=false
      - BUFFER_API_DATADOG_ENABLED=false
      - BUFFER_WORKER_DATADOG_ENABLED=false
      # Etcd for unit tests
      - UNIT_ETCD_ENABLED=true
      - UNIT_ETCD_ENDPOINT=etcd:2379
      - UNIT_ETCD_USERNAME=root
      - UNIT_ETCD_PASSWORD=toor
      - UNIT_ETCD_NAMESPACE=templates-api
      # Etcd for the Templates API`
      - TEMPLATES_ETCD_ENDPOINT=etcd:2379
      - TEMPLATES_ETCD_USERNAME=root
      - TEMPLATES_ETCD_PASSWORD=toor
      - TEMPLATES_ETCD_NAMESPACE=templates-api
      # Etcd for the Buffer API
      - BUFFER_API_ETCD_ENDPOINT=etcd:2379
      - BUFFER_API_ETCD_USERNAME=root
      - BUFFER_API_ETCD_PASSWORD=toor
      - BUFFER_API_ETCD_NAMESPACE=buffer
      # Etcd for the Buffer Worker
      - BUFFER_WORKER_ETCD_ENDPOINT=etcd:2379
      - BUFFER_WORKER_ETCD_USERNAME=root
      - BUFFER_WORKER_ETCD_PASSWORD=toor
      - BUFFER_WORKER_ETCD_NAMESPACE=buffer
    ports:
      # Templates API
      - "8000:8000" # API
      - "9000:9000" # metrics
      # Buffer API
      - "8001:8001" # API
      - "9001:9001" # metrics
      # Buffer Worker
      - "9002:9002" # metrics
      # Go docs
      - "6060:6060"
  # Same etcd is used for all services, but with different namespace
  etcd:
    hostname: etcd
    image: docker.io/bitnami/etcd:3.5.11-debian-11-r3
    environment:
      ALLOW_NONE_AUTHENTICATION: "no"
      ETCD_NAME: "etcd"
      ETCD_ROOT_PASSWORD: "toor"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd:2379"
      ETCD_INITIAL_ADVERTISE_PEER_URLS: "http://etcd:2380"
      ETCD_INITIAL_CLUSTER_TOKEN: "cluster"
      ETCD_INITIAL_CLUSTER": "default=http://etcd:2379"
      ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
      ETCD_LISTEN_PEER_URLS: "http://0.0.0.0:2380"
      ETCD_DISABLE_STORE_MEMBER_ID: "true"
  k6:
    volumes:
      - ./scripts:/scripts
    image: grafana/k6
    network_mode: host
    environment:
      - API_USE_HTTPS
      - API_HOST
      - API_PORT
      - API_TOKEN
      - K6_USERS
      - K6_DURATION

volumes:
  cache:
