version: '3'
services:
  dev:
    image: keboolabot/keboola-as-code-dev
    build:
      context: .
      dockerfile: ./provisioning/dev/docker/Dockerfile
    links:
      - etcd
    volumes:
      - ./:/code:z
      - cache:/tmp/cache
    environment:
      # For all
      - TEST_KBC_PROJECTS
      # For Templates API
      - TEMPLATES_API_STORAGE_API_HOST
      # For Buffer API
      - BUFFER_API_STORAGE_API_HOST
      - BUFFER_API_PUBLIC_ADDRESS
      # Disable DataDog integration
      - TEMPLATES_API_DATADOG_ENABLED=false
      - BUFFER_API_DATADOG_ENABLED=false
      - BUFFER_WORKER_DATADOG_ENABLED=false
      # Etcd for unit tests
      - UNIT_ETCD_ENABLED=true
      - UNIT_ETCD_ENDPOINT=etcd:2379
      - UNIT_ETCD_USERNAME=root
      - UNIT_ETCD_PASSWORD=toor
      - UNIT_ETCD_NAMESPACE=templates-api
      # Etcd for the Templates API`
      - TEMPLATES_API_ETCD_ENABLED=true
      - TEMPLATES_API_ETCD_ENDPOINT=etcd:2379
      - TEMPLATES_API_ETCD_USERNAME=root
      - TEMPLATES_API_ETCD_PASSWORD=toor
      - TEMPLATES_API_ETCD_NAMESPACE=templates-api
      # Etcd for the Buffer API
      - BUFFER_API_ETCD_ENDPOINT=etcd:2379
      - BUFFER_API_ETCD_USERNAME=root
      - BUFFER_API_ETCD_PASSWORD=toor
      - BUFFER_API_ETCD_NAMESPACE=buffer
      # Etcd for the Buffer Worker
      - BUFFER_WORKER_ETCD_ENDPOINT=etcd:2379
      - BUFFER_WORKER_ETCD_USERNAME=root
      - BUFFER_WORKER_ETCD_PASSWORD=toor
      - BUFFER_WORKER_ETCD_NAMESPACE=buffer
    ports:
      - "8000:8000" # make run-templates-api
      - "8001:8001" # make run-buffer-api
      - "6060:6060"
  # Same etcd is used for all services, but with different namespace
  etcd:
    hostname: etcd
    image: docker.io/bitnami/etcd:3.5.5-debian-11-r16
    environment:
      ALLOW_NONE_AUTHENTICATION: "no"
      ETCD_NAME: "etcd"
      ETCD_ROOT_PASSWORD: "toor"
      ETCD_ADVERTISE_CLIENT_URLS: "http://etcd:2379"
      ETCD_INITIAL_ADVERTISE_PEER_URLS: "http://etcd:2380"
      ETCD_INITIAL_CLUSTER_TOKEN: "cluster"
      ETCD_INITIAL_CLUSTER": "default=http://etcd:2379"
      ETCD_LISTEN_CLIENT_URLS: "http://0.0.0.0:2379"
      ETCD_LISTEN_PEER_URLS: "http://0.0.0.0:2380"
      ETCD_DISABLE_STORE_MEMBER_ID: "true"
  k6:
    volumes:
      - ./scripts:/scripts
    image: grafana/k6
    network_mode: host
    environment:
      - API_USE_HTTPS
      - API_HOST
      - API_PORT
      - API_TOKEN
      - K6_USERS
      - K6_DURATION

volumes:
  cache:
