root = "."
tmp_dir = "target/.watcher"

[build]
  bin = "./target/stream/service"
  args_bin = ["--node-id", "my-node", "--hostname", "localhost", "--metrics-listen", "0.0.0.0:9001", "--source-http-public-url", "http://localhost:1234", "--storage-volumes-path", "/tmp/stream-volumes", "api", "http-source", "storage-writer", "storage-reader", "storage-coordinator"]
  cmd = "make build-stream-service"
  delay = 2000
  exclude_dir = ["internal/pkg/service/stream/api/gen"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = ["api", "cmd", "internal", "pkg"]
  include_ext = ["go"]
  kill_delay = 500
  log = "build-errors.log"
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
