---
apiVersion: v1
kind: ConfigMap
metadata:
  name: stream-config
  namespace: $NAMESPACE
  labels:
    app: stream
data:
  keboolaStack: "$KEBOOLA_STACK"
  keboolaRevision: "$RELEASE_ID"
  config.yaml: |
    ####################################################################################################################
    # Notes:
    #  - Commented keys are set via ENV.
    #  - Each key can be set via ENV, for example "storage.volumesPath" is "STREAM_STORAGE_VOLUMES_PATH" ENV.
    #  - Default configuration can be generated via "<stream binary> --dump-config=yaml > config.yaml".
    ####################################################################################################################
    # Enable logging at DEBUG level.
    debugLog: false
    # Log HTTP client requests and responses as debug messages.
    debugHTTPClient: false
    # Path where CPU profile is saved.
    cpuProfilePath: ""
    # Unique ID of the node in the cluster. Validation rules: required
    #nodeID: ""
    # Storage API host. Validation rules: required,hostname
    storageApiHost: "connection.$HOSTNAME_SUFFIX"
    datadog:
      # Enable DataDog integration.
      enabled: true
      # Enable DataDog debug messages.
      debug: false
    etcd:
      # Etcd endpoint. Validation rules: required
      endpoint: stream-etcd.stream.svc.cluster.local:2379
      # Etcd namespace. Validation rules: required
      namespace: stream/
      # Etcd username.
      username: root
      # Etcd password.
      #password: *****
      # Etcd connect timeout. Validation rules: required
      connectTimeout: 30s
      # Etcd keep alive timeout. Validation rules: required
      keepAliveTimeout: 5s
      # Etcd keep alive interval. Validation rules: required
      keepAliveInterval: 10s
      # Etcd operations logging as debug messages.
      debugLog: false
    #metrics:
      # Prometheus scraping metrics listen address. Validation rules: required,hostname_port
      #listen: 0.0.0.0:9000
    api:
      # Listen address of the configuration HTTP API. Validation rules: required,hostname_port
      #listen: 0.0.0.0:8000
      # Public URL of the configuration HTTP API for link generation. Validation rules: required
      publicUrl: "https://stream.$HOSTNAME_SUFFIX"
    distribution:
      # The maximum time to wait for creating a new session. Validation rules: required,minDuration=1s,maxDuration=1m
      grantTimeout: 5s
      # Timeout for the node registration to the cluster. Validation rules: required,minDuration=1s,maxDuration=5m
      startupTimeout: 1m0s
      # Timeout for the node un-registration from the cluster. Validation rules: required,minDuration=1s,maxDuration=5m
      shutdownTimeout: 10s
      # Interval of processing changes in the topology. Use 0 to disable the grouping. Validation rules: maxDuration=30s
      eventsGroupInterval: 5s
      # Seconds after which the node is automatically un-registered if an outage occurs. Validation rules: required,min=1,max=30
      ttlSeconds: 15
    source:
      http:
        # Listen address of the HTTP source. Validation rules: required,hostname_port
        #listen: 0.0.0.0:7000
        # Public URL of the HTTP source for link generation.
        publicUrl: "https://stream-in.$HOSTNAME_SUFFIX"
        # HTTP request timeout. Validation rules: required
        requestTimeout: 30s
        # TCP connection idle timeout. Validation rules: required
        idleTimeout: 30s
        # The maximum number of concurrent connections the server may serve. Validation rules: required
        maxConnections: 200000
        # Read buffer size, all HTTP headers must fit in. Validation rules: required
        readBufferSize: 16KB
        # Write buffer size. Validation rules: required
        writeBufferSize: 4KB
        # Max size of the HTTP request body. Validation rules: required
        maxRequestBodySize: 1MB
    storage:
      # Mounted volumes path, each volume is in "{type}/{label}" subdir. Validation rules: required
      volumesPath: "/stream/volumes"
      statistics:
        sync:
          # Statistics synchronization interval, from memory to the etcd. Validation rules: required,minDuration=100ms,maxDuration=5s
          interval: 1s
          # Statistics synchronization timeout. Validation rules: required,minDuration=1s,maxDuration=1m
          timeout: 30s
        cache:
          L2:
            # Enable statistics L2 in-memory cache, otherwise only L1 cache is used.
            enabled: true
            # Statistics L2 in-memory cache invalidation interval. Validation rules: required,minDuration=100ms,maxDuration=5s
            interval: 1s
      cleanup:
        # Enable storage cleanup.
        enabled: true
        # Cleanup interval. Validation rules: required,minDuration=5m,maxDuration=24h
        interval: 30m0s
        # How many files are deleted in parallel. Validation rules: required,min=1,max=500
        concurrency: 100
        # Expiration interval of a file that has not yet been imported. Validation rules: required,minDuration=1h,maxDuration=720h,gtefield=ArchivedFileExpiration
        activeFileExpiration: 168h0m0s
        # Expiration interval of a file that has already been imported. Validation rules: required,minDuration=15m,maxDuration=720h
        archivedFileExpiration: 24h0m0s
      level:
        local:
          volume:
            assignment:
              # Volumes count simultaneously utilized per sink. Validation rules: required,min=1,max=100
              count: 1
              # List of preferred volume types, start with the most preferred. Validation rules: required,min=1
              preferredTypes:
                - medium
            registration:
              # Number of seconds after the volume registration expires if the node is not available. Validation rules: required,min=1,max=60
              ttlSeconds: 10
            sync:
              # Sync mode: "disabled", "cache" or "disk". Validation rules: required,oneof=disabled disk cache
              mode: disk
              # Wait for sync to disk OS cache or to disk hardware, depending on the mode.
              wait: true
              # Minimal interval between syncs to disk. Validation rules: min=0,maxDuration=2s,required_if=Mode disk,required_if=Mode cache
              checkInterval: 5ms
              # Written records count to trigger sync. Validation rules: min=0,max=1000000,required_if=Mode disk,required_if=Mode cache
              countTrigger: 10000
              # Size of buffered uncompressed data to trigger sync. Validation rules: maxBytes=500MB,required_if=Mode disk,required_if=Mode cache
              uncompressedBytesTrigger: 1MB
              # Size of buffered compressed data to trigger sync. Validation rules: maxBytes=100MB,required_if=Mode disk,required_if=Mode cache
              compressedBytesTrigger: 256KB
              # Interval from the last sync to trigger sync. Validation rules: min=0,maxDuration=2s,required_if=Mode disk,required_if=Mode cache
              intervalTrigger: 50ms
            allocation:
              # Allocate disk space for each slice.
              enabled: true
              # Size of allocated disk space for a slice. Validation rules: required
              static: 100MB
              # Allocate disk space as % from the previous slice size. Validation rules: min=100,max=500
              relative: 110
            encoding:
              encoder:
                # Concurrency of the format writer for the specified file type. 0 = auto = num of CPU cores. Validation rules: min=0,max=256
                concurrency: 0
              # Max size of the buffer before compression, if compression is enabled. 0 = disabled. Validation rules: maxBytes=16MB
              inputBuffer: 1MB
              # Max size of the buffer before the output. 0 = disabled. Validation rules: maxBytes=16MB
              outputBuffer: 1MB
              compression:
                # Compression type. Validation rules: required,oneof=none gzip zstd
                type: gzip
                gzip:
                  # GZIP compression level: 1-9. Validation rules: min=1,max=9
                  level: 1
                  # GZIP implementation: standard, fast, parallel. Validation rules: required,oneof=standard fast parallel
                  implementation: parallel
                  # GZIP parallel block size. Validation rules: required,minBytes=16kB,maxBytes=100MB
                  blockSize: 256KB
                  # GZIP parallel concurrency, 0 = auto.
                  concurrency: 0
        staging:
          # Maximum number of slices in a file, a new file is created after reaching it. Validation rules: required,min=1,max=50000
          maxSlicesPerFile: 100
          # Maximum number of the Storage API file resources created in parallel within one operation. Validation rules: required,min=1,max=500
          parallelFileCreateLimit: 50
          upload:
            # Minimal interval between uploads. Validation rules: required,minDuration=1s,maxDuration=5m
            minInterval: 5s
            trigger:
              # Records count to trigger slice upload. Validation rules: required,min=1,max=10000000
              count: 10000
              # Records size to trigger slice upload. Validation rules: required,minBytes=100B,maxBytes=50MB
              size: 1MB
              # Duration from the last slice upload to trigger the next upload. Validation rules: required,minDuration=1s,maxDuration=30m
              interval: 1m0s
        target:
          import:
            # Minimal interval between imports. Validation rules: required,minDuration=30s,maxDuration=30m
            minInterval: 1m0s
            trigger:
              # Records count to trigger file import. Validation rules: required,min=1,max=10000000
              count: 50000
              # Records size to trigger file import. Validation rules: required,minBytes=100B,maxBytes=500MB
              size: 5MB
              # Duration from the last import to trigger the next import. Validation rules: required,minDuration=60s,maxDuration=24h
              interval: 5m0s
