# See default values: https://github.com/bitnami/charts/blob/master/bitnami/etcd/values.yaml
image:
  tag: 3.5.5-debian-11-r16

commonLabels:
  app: templates-api-etcd

podLabels:
  app: templates-api-etcd

resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    memory: "256Mi"

replicaCount: $TEMPLATES_API_ETCD_REPLICAS

removeMemberOnContainerTermination: false

extraEnvVars:
  - name: ETCD_DISABLE_STORE_MEMBER_ID
    value: "yes"

auth:
  rbac:
    create: true
    allowNoneAuthentication: false
  token:
    type: jwt

service:
  clusterIP: None #headless service

networkPolicy:
  enabled: true
  allowExternal: false

persistence:
  enabled: true
  size: 512Mi

tolerations:
  - key: app
    operator: Exists
    effect: NoSchedule

pdb:
  create: false

nodeSelector:
  nodepool: main

startupProbe:
  enabled: true
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 60
livenessProbe:
  initialDelaySeconds: 0 # replaced by startupProbe
readinessProbe:
  initialDelaySeconds: 0 # replaced by startupProbe
