swagger: "2.0"
info:
    title: Data application proxy
    description: A service for proxing requests/authorization to data applications using Keboola components.
    version: "1.0"
host: appsproxy.keboola.com
consumes:
    - application/json
produces:
    - application/json
paths:
    /:
        get:
            tags:
                - appsproxy
            summary: Redirect to /_proxy
            description: Redirect to /_proxy.
            operationId: ApiRootIndex
            responses:
                "301":
                    description: Moved Permanently response.
            schemes:
                - https
    /_proxy:
        get:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: Proxy
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        put:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "2"
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        post:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "1"
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        delete:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "3"
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        patch:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "6"
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
    /_proxy/{path}:
        get:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: ProxyPath
            parameters:
                - name: path
                  in: path
                  description: '"Path that proxies to data application".'
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        put:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "2"
            parameters:
                - name: path
                  in: path
                  description: '"Path that proxies to data application".'
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        post:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "1"
            parameters:
                - name: path
                  in: path
                  description: '"Path that proxies to data application".'
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        delete:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "3"
            parameters:
                - name: path
                  in: path
                  description: '"Path that proxies to data application".'
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
        patch:
            tags:
                - appsproxy
            summary: Proxying endpoint for data applications
            description: This endpoint proxies (accepts) all requests and redirects them to the data application.
            operationId: "6"
            parameters:
                - name: path
                  in: path
                  description: '"Path that proxies to data application".'
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema: {}
            schemes:
                - https
    /v1/:
        get:
            tags:
                - documentation
            summary: List API name and link to documentation.
            description: List API name and link to documentation.
            operationId: ApiVersionIndex
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AppsProxyAPIVersionIndexResponseBody'
                        required:
                            - api
                            - documentation
            schemes:
                - https
    /v1/documentation/openapi.json:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 JSON Specification
            operationId: OpenapiJson
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi.yaml:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 YAML Specification
            operationId: OpenapiYaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.json:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 JSON Specification
            operationId: Openapi3Json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.yaml:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 YAML Specification
            operationId: Openapi3Yaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/validate:
        get:
            tags:
                - appsproxy
            summary: Validation of OIDC authorization provider configuration
            description: Validation endpoint of OIDC authorization provider configuration.
            operationId: Validate
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AppsProxyValidateResponseBody'
            schemes:
                - https
            security:
                - storage-api-token: []
definitions:
    AppsProxyAPIVersionIndexResponseBody:
        title: AppsProxyAPIVersionIndexResponseBody
        type: object
        properties:
            api:
                type: string
                description: Name of the API
                example: appsproxy
            documentation:
                type: string
                description: URL of the API documentation.
                example: https://appsproxy.keboola.com/v1/documentation
        example:
            api: appsproxy
            documentation: https://appsproxy.keboola.com/v1/documentation
        required:
            - api
            - documentation
    AppsProxyValidateResponseBody:
        title: AppsProxyValidateResponseBody
        type: object
        properties:
            configuration:
                type: array
                items:
                    $ref: '#/definitions/ConfigurationResponseBody'
                description: All authorization providers.
                example:
                    - exampleerrordata:
                        statusCode: 404
                        error: validations incorrect
                        message: unable to validate due to missing entry
                      id: test
                      name: My Template
        example:
            configuration:
                - exampleerrordata:
                    statusCode: 404
                    error: validations incorrect
                    message: unable to validate due to missing entry
                  id: test
                  name: My Template
    ConfigurationResponseBody:
        title: ConfigurationResponseBody
        type: object
        properties:
            clientID:
                type: string
                description: Client ID of provider.
                example: github.oidc
            clientSecret:
                type: string
                description: Client secret provided by OIDC provider.
                example: thisissupersecret
            id:
                type: string
                description: Unique ID of provider.
                example: oidc#1
        description: The configuration that is part of the auth providers section.
        example:
            clientID: github.oidc
            clientSecret: thisissupersecret
            id: oidc#1
        required:
            - id
            - clientID
            - clientSecret
securityDefinitions:
    storage-api-token:
        type: apiKey
        description: Storage Api Token Authentication.
        name: X-StorageApi-Token
        in: header
