swagger: "2.0"
info:
    title: Stream Service
    description: A service for continuously importing data to the Keboola platform.
    license:
        name: Apache 2.0
        url: http://www.apache.org/licenses/LICENSE-2.0
    version: "1.0"
host: stream.keboola.com
consumes:
    - application/json
produces:
    - application/json
paths:
    /:
        get:
            tags:
                - documentation
            summary: Redirect to /v1
            description: Redirect to /v1.
            operationId: ApiRootIndex
            responses:
                "301":
                    description: Moved Permanently response.
            schemes:
                - https
    /v1:
        get:
            tags:
                - documentation
            summary: List API name and link to documentation.
            description: List API name and link to documentation.
            operationId: ApiVersionIndex
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ServiceDetail'
                        required:
                            - api
                            - documentation
            schemes:
                - https
    /v1/branches/{branchId}/aggregation/sources:
        get:
            tags:
                - internal
            summary: Aggregation endpoint for sources
            description: Details about sources for the UI.
            operationId: AggregationSources
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AggregatedSourcesResult'
                        required:
                            - projectId
                            - branchId
                            - page
                            - sources
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources:
        get:
            tags:
                - configuration
            summary: List all sources
            description: List all sources in the branch.
            operationId: ListSources
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SourcesList'
                        required:
                            - projectId
                            - branchId
                            - page
                            - sources
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create source
            description: Create a new source in the branch.
            operationId: CreateSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: CreateSourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamCreateSourceRequestBody'
                    required:
                        - type
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}:
        get:
            tags:
                - configuration
            summary: Get source
            description: Get the source definition.
            operationId: GetSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Source'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - type
                            - name
                            - description
                            - version
                            - created
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete source
            description: Delete the source.
            operationId: DeleteSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update source
            description: Update the source.
            operationId: UpdateSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: UpdateSourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSourceRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/disable:
        put:
            tags:
                - configuration
            summary: Disable source
            description: Disables the source.
            operationId: DisableSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/enable:
        put:
            tags:
                - configuration
            summary: Enable source
            description: Enables the source.
            operationId: EnableSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/settings:
        get:
            tags:
                - configuration
            summary: Get source settings
            description: Get source settings.
            operationId: GetSourceSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SettingsResult'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update source settings
            description: Update source settings.
            operationId: UpdateSourceSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: UpdateSourceSettingsRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSourceSettingsRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks:
        get:
            tags:
                - configuration
            summary: List sinks
            description: List all sinks in the source.
            operationId: ListSinks
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SinksList'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - page
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create sink
            description: Create a new sink in the source.
            operationId: CreateSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: CreateSinkRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamCreateSinkRequestBody'
                    required:
                        - type
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}:
        get:
            tags:
                - configuration
            summary: Get sink
            description: Get the sink definition.
            operationId: GetSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Sink'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - sinkId
                            - type
                            - name
                            - description
                            - version
                            - created
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete sink
            description: Delete the sink.
            operationId: DeleteSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update sink
            description: Update the sink.
            operationId: UpdateSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: UpdateSinkRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSinkRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/disable:
        put:
            tags:
                - configuration
            summary: Disable sink
            description: Disables the sink.
            operationId: DisableSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/enable:
        put:
            tags:
                - configuration
            summary: Enable sink
            description: Enables the sink.
            operationId: EnableSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/settings:
        get:
            tags:
                - configuration
            summary: Get sink settings
            description: Get the sink settings.
            operationId: GetSinkSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SettingsResult'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update sink settings
            description: Update sink settings.
            operationId: UpdateSinkSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: UpdateSinkSettingsRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSinkSettingsRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/statistics/clear:
        delete:
            tags:
                - configuration
            summary: Clear sink statistics
            description: Clears all statistics of the sink.
            operationId: SinkStatisticsClear
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/statistics/files:
        get:
            tags:
                - configuration
            summary: Sink files statistics
            description: Get files statistics of the sink.
            operationId: SinkStatisticsFiles
            parameters:
                - name: failedFiles
                  in: query
                  description: Filter for not imported files. If set to true, only not imported files will be included.
                  required: false
                  type: boolean
                  default: false
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SinkStatisticsFilesResult'
                        required:
                            - files
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/statistics/total:
        get:
            tags:
                - configuration
            summary: Sink statistics total
            description: Get total statistics of the sink.
            operationId: SinkStatisticsTotal
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SinkStatisticsTotalResult'
                        required:
                            - levels
                            - total
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/undelete:
        put:
            tags:
                - configuration
            summary: Undelete sink
            description: Undelete the sink.
            operationId: UndeleteSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/versions:
        get:
            tags:
                - configuration
            summary: List sink versions
            description: List all sink versions.
            operationId: ListSinkVersions
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/EntityVersions'
                        required:
                            - versions
                            - page
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/versions/{versionNumber}:
        get:
            tags:
                - configuration
            summary: Sink version detail
            description: Sink version detail.
            operationId: SinkVersionDetail
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: versionNumber
                  in: path
                  description: Version number counted from 1.
                  required: true
                  type: integer
                  minimum: 1
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Version'
                        required:
                            - number
                            - hash
                            - at
                            - by
                            - description
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/versions/{versionNumber}/rollback:
        put:
            tags:
                - configuration
            summary: Rollback sink version
            description: Rollback sink version.
            operationId: RollbackSinkVersion
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: versionNumber
                  in: path
                  description: Version number counted from 1.
                  required: true
                  type: integer
                  minimum: 1
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/deleted:
        get:
            tags:
                - configuration
            summary: List deleted sinks
            description: List all deleted sinks in the source.
            operationId: ListDeletedSinks
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SinksList'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - page
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/statistics/clear:
        delete:
            tags:
                - configuration
            summary: Clear source statistics
            description: Clears all statistics of the source.
            operationId: SourceStatisticsClear
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/test:
        post:
            tags:
                - test
            summary: Test source payload mapping
            description: Tests configured mapping of the source and its sinks.
            operationId: TestSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TestResult'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - tables
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/undelete:
        put:
            tags:
                - configuration
            summary: Undelete source
            description: Undelete the source.
            operationId: UndeleteSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/versions:
        get:
            tags:
                - configuration
            summary: List source versions
            description: List all source versions.
            operationId: ListSourceVersions
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/EntityVersions'
                        required:
                            - versions
                            - page
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/versions/{versionNumber}:
        get:
            tags:
                - configuration
            summary: Source version detail
            description: Source version detail.
            operationId: SourceVersionDetail
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: versionNumber
                  in: path
                  description: Version number counted from 1.
                  required: true
                  type: integer
                  minimum: 1
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Version'
                        required:
                            - number
                            - hash
                            - at
                            - by
                            - description
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/versions/{versionNumber}/rollback:
        put:
            tags:
                - configuration
            summary: Rollback source version
            description: Rollback source version.
            operationId: RollbackSourceVersion
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: versionNumber
                  in: path
                  description: Version number counted from 1.
                  required: true
                  type: integer
                  minimum: 1
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/deleted:
        get:
            tags:
                - configuration
            summary: List all deleted sources
            description: List all deleted sources in the branch.
            operationId: ListDeletedSources
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SourcesList'
                        required:
                            - projectId
                            - branchId
                            - page
                            - sources
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/documentation/openapi.json:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 JSON Specification
            operationId: OpenapiJson
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi.yaml:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 YAML Specification
            operationId: OpenapiYaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.json:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 JSON Specification
            operationId: Openapi3Json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.yaml:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 YAML Specification
            operationId: Openapi3Yaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/tasks/{taskId}:
        get:
            tags:
                - configuration
            summary: Get task
            description: Get details of a task.
            operationId: GetTask
            parameters:
                - name: taskId
                  in: path
                  description: Unique ID of the task.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/Task'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/GenericError'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
definitions:
    AggregatedSink:
        title: AggregatedSink
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            created:
                $ref: '#/definitions/CreatedEntity'
            deleted:
                $ref: '#/definitions/DeletedEntity'
            description:
                type: string
                description: Description of the source.
                example: The sink stores records to a table.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntity'
            name:
                type: string
                description: Human readable name of the sink.
                example: Raw Data Sink
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinkId:
                type: string
                example: github-pr-table-sink
                minLength: 1
                maxLength: 48
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            statistics:
                $ref: '#/definitions/AggregatedStatistics'
            table:
                $ref: '#/definitions/TableSink'
            type:
                type: string
                example: table
                enum:
                    - table
            version:
                $ref: '#/definitions/Version'
        description: A mapping from imported data to a destination table.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            sinkId: github-pr-table-sink
            type: table
            name: Raw Data Sink
            description: The sink stores records to a table.
            table:
                type: keboola
                tableId: in.c-bucket.table
                mapping:
                    columns:
                        - type: uuid
                          name: id-col
                        - type: datetime
                          name: datetime-col
                        - type: ip
                          name: ip-col
                        - type: headers
                          name: headers-col
                        - type: body
                          name: body-col
                        - type: path
                          name: path-col
                          path: foo.bar[0]
                          rawString: true
                          defaultValue: ""
                        - type: template
                          name: template-col
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
            version:
                number: 3
                hash: f43e93acd97eceb3
                description: The reason for the last change was...
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            created:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
                reason: Disabled for recurring problems.
            statistics:
                total:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                levels:
                    local:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    staging:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    target:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                files:
                    - state: writing
                      openedAt: "2022-04-28T14:20:04.000Z"
                      closingAt: "2022-04-28T14:20:04.000Z"
                      importingAt: "2022-04-28T14:20:04.000Z"
                      importedAt: "2022-04-28T14:20:04.000Z"
                      retryAttempt: 3
                      retryReason: network problem
                      retryAfter: "2022-04-28T14:20:04.000Z"
                      statistics:
                        total:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        levels:
                            local:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            staging:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            target:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
        required:
            - projectId
            - branchId
            - sourceId
            - sinkId
            - type
            - name
            - description
            - version
            - created
    AggregatedSource:
        title: AggregatedSource
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            created:
                $ref: '#/definitions/CreatedEntity'
            deleted:
                $ref: '#/definitions/DeletedEntity'
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntity'
            http:
                $ref: '#/definitions/HTTPSource'
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinks:
                type: array
                items:
                    $ref: '#/definitions/AggregatedSink'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        type: keboola
                        tableId: in.c-bucket.table
                        mapping:
                            columns:
                                - type: uuid
                                  name: id-col
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: path
                                  name: path-col
                                  path: foo.bar[0]
                                  rawString: true
                                  defaultValue: ""
                                - type: template
                                  name: template-col
                                  template:
                                    language: jsonnet
                                    content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        description: The reason for the last change was...
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      created:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                        reason: Disabled for recurring problems.
                      statistics:
                        total:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        levels:
                            local:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            staging:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            target:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                        files:
                            - state: writing
                              openedAt: "2022-04-28T14:20:04.000Z"
                              closingAt: "2022-04-28T14:20:04.000Z"
                              importingAt: "2022-04-28T14:20:04.000Z"
                              importedAt: "2022-04-28T14:20:04.000Z"
                              retryAttempt: 3
                              retryReason: network problem
                              retryAfter: "2022-04-28T14:20:04.000Z"
                              statistics:
                                total:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                levels:
                                    local:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
                                    staging:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
                                    target:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
            version:
                $ref: '#/definitions/Version'
        description: Source of data for further processing, start of the stream, max 100 sources per a branch.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
            http:
                url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
            version:
                number: 3
                hash: f43e93acd97eceb3
                description: The reason for the last change was...
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            created:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
                reason: Disabled for recurring problems.
            sinks:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  sinkId: github-pr-table-sink
                  type: table
                  name: Raw Data Sink
                  description: The sink stores records to a table.
                  table:
                    type: keboola
                    tableId: in.c-bucket.table
                    mapping:
                        columns:
                            - type: uuid
                              name: id-col
                            - type: datetime
                              name: datetime-col
                            - type: ip
                              name: ip-col
                            - type: headers
                              name: headers-col
                            - type: body
                              name: body-col
                            - type: path
                              name: path-col
                              path: foo.bar[0]
                              rawString: true
                              defaultValue: ""
                            - type: template
                              name: template-col
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    description: The reason for the last change was...
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  created:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                    reason: Disabled for recurring problems.
                  statistics:
                    total:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    levels:
                        local:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        staging:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        target:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                    files:
                        - state: writing
                          openedAt: "2022-04-28T14:20:04.000Z"
                          closingAt: "2022-04-28T14:20:04.000Z"
                          importingAt: "2022-04-28T14:20:04.000Z"
                          importedAt: "2022-04-28T14:20:04.000Z"
                          retryAttempt: 3
                          retryReason: network problem
                          retryAfter: "2022-04-28T14:20:04.000Z"
                          statistics:
                            total:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            levels:
                                local:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                staging:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                target:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
        required:
            - projectId
            - branchId
            - sourceId
            - type
            - name
            - description
            - version
            - created
            - sinks
    AggregatedSourcesResult:
        title: AggregatedSourcesResult
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            page:
                $ref: '#/definitions/PaginatedResponse'
            projectId:
                type: integer
                example: 123
                format: int64
            sources:
                type: array
                items:
                    $ref: '#/definitions/AggregatedSource'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      type: http
                      name: Github Webhook Source
                      description: The source receives events from Github.
                      http:
                        url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        description: The reason for the last change was...
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      created:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                        reason: Disabled for recurring problems.
                      sinks:
                        - projectId: 123
                          branchId: 345
                          sourceId: github-webhook-source
                          sinkId: github-pr-table-sink
                          type: table
                          name: Raw Data Sink
                          description: The sink stores records to a table.
                          table:
                            type: keboola
                            tableId: in.c-bucket.table
                            mapping:
                                columns:
                                    - type: uuid
                                      name: id-col
                                    - type: datetime
                                      name: datetime-col
                                    - type: ip
                                      name: ip-col
                                    - type: headers
                                      name: headers-col
                                    - type: body
                                      name: body-col
                                    - type: path
                                      name: path-col
                                      path: foo.bar[0]
                                      rawString: true
                                      defaultValue: ""
                                    - type: template
                                      name: template-col
                                      template:
                                        language: jsonnet
                                        content: body.foo + "-" + body.bar
                          version:
                            number: 3
                            hash: f43e93acd97eceb3
                            description: The reason for the last change was...
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                          created:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                          deleted:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                          disabled:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                            reason: Disabled for recurring problems.
                          statistics:
                            total:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            levels:
                                local:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                staging:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                target:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                            files:
                                - state: writing
                                  openedAt: "2022-04-28T14:20:04.000Z"
                                  closingAt: "2022-04-28T14:20:04.000Z"
                                  importingAt: "2022-04-28T14:20:04.000Z"
                                  importedAt: "2022-04-28T14:20:04.000Z"
                                  retryAttempt: 3
                                  retryReason: network problem
                                  retryAfter: "2022-04-28T14:20:04.000Z"
                                  statistics:
                                    total:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
                                    levels:
                                        local:
                                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                                            recordsCount: 1
                                            compressedSize: 1
                                            uncompressedSize: 1
                                        staging:
                                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                                            recordsCount: 1
                                            compressedSize: 1
                                            uncompressedSize: 1
                                        target:
                                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                                            recordsCount: 1
                                            compressedSize: 1
                                            uncompressedSize: 1
        example:
            projectId: 123
            branchId: 345
            page:
                limit: 100
                totalCount: 1000
                afterId: my-object-123
                lastId: my-object-456
            sources:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  type: http
                  name: Github Webhook Source
                  description: The source receives events from Github.
                  http:
                    url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    description: The reason for the last change was...
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  created:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                    reason: Disabled for recurring problems.
                  sinks:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        type: keboola
                        tableId: in.c-bucket.table
                        mapping:
                            columns:
                                - type: uuid
                                  name: id-col
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: path
                                  name: path-col
                                  path: foo.bar[0]
                                  rawString: true
                                  defaultValue: ""
                                - type: template
                                  name: template-col
                                  template:
                                    language: jsonnet
                                    content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        description: The reason for the last change was...
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      created:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                        reason: Disabled for recurring problems.
                      statistics:
                        total:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
[...]
