swagger: "2.0"
info:
    title: Stream Service
    description: A service for continuously importing data to the Keboola platform.
    version: "1.0"
host: stream.keboola.com
consumes:
    - application/json
produces:
    - application/json
paths:
    /:
        get:
            tags:
                - documentation
            summary: Redirect to /v1
            description: Redirect to /v1.
            operationId: ApiRootIndex
            responses:
                "301":
                    description: Moved Permanently response.
            schemes:
                - https
    /v1:
        get:
            tags:
                - documentation
            summary: List API name and link to documentation.
            description: List API name and link to documentation.
            operationId: ApiVersionIndex
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamAPIVersionIndexResponseBody'
                        required:
                            - api
                            - documentation
            schemes:
                - https
    /v1/branches/{branchId}/aggregation/sources:
        get:
            tags:
                - internal
            summary: Aggregation endpoint for sources
            description: Details about sources for the UI.
            operationId: AggregationSources
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamAggregationSourcesResponseBody'
                        required:
                            - projectId
                            - branchId
                            - page
                            - sources
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources:
        get:
            tags:
                - configuration
            summary: List all sources
            description: List all sources in the branch.
            operationId: ListSources
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamListSourcesResponseBody'
                        required:
                            - projectId
                            - branchId
                            - page
                            - sources
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create source
            description: Create a new source in the branch.
            operationId: CreateSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: CreateSourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamCreateSourceRequestBody'
                    required:
                        - type
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamCreateSourceResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/StreamCreateSourceStreamAPISourceAlreadyExistsResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/StreamCreateSourceStreamAPIResourceLimitReachedResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}:
        get:
            tags:
                - configuration
            summary: Get source
            description: Get the source definition.
            operationId: GetSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - type
                            - name
                            - description
                            - version
                            - created
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete source
            description: Delete the source.
            operationId: DeleteSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamDeleteSourceResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamDeleteSourceStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update source
            description: Update the source.
            operationId: UpdateSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: UpdateSourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSourceRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/settings:
        get:
            tags:
                - configuration
            summary: Get source settings
            description: Get source settings.
            operationId: GetSourceSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceSettingsResponseBody'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceSettingsStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update source settings
            description: Update source settings.
            operationId: UpdateSourceSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: UpdateSourceSettingsRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSourceSettingsRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceSettingsResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceSettingsStreamAPIForbiddenResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks:
        get:
            tags:
                - configuration
            summary: List sinks
            description: List all sinks in the source.
            operationId: ListSinks
            parameters:
                - name: afterId
                  in: query
                  description: Request records after the ID.
                  required: false
                  type: string
                  default: ""
                - name: limit
                  in: query
                  description: Maximum number of returned records.
                  required: false
                  type: integer
                  default: 100
                  maximum: 100
                  minimum: 1
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamListSinksResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - page
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamListSinksStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create sink
            description: Create a new sink in the source.
            operationId: CreateSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: CreateSinkRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamCreateSinkRequestBody'
                    required:
                        - type
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkStreamAPISinkAlreadyExistsResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkStreamAPIResourceLimitReachedResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}:
        get:
            tags:
                - configuration
            summary: Get sink
            description: Get the sink definition.
            operationId: GetSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - sinkId
                            - type
                            - name
                            - description
                            - version
                            - created
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete sink
            description: Delete the sink.
            operationId: DeleteSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamDeleteSinkResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamDeleteSinkStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update sink
            description: Update the sink.
            operationId: UpdateSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: UpdateSinkRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSinkRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/settings:
        get:
            tags:
                - configuration
            summary: Get sink settings
            description: Get the sink settings.
            operationId: GetSinkSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkSettingsResponseBody'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkSettingsStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update sink settings
            description: Update sink settings.
            operationId: UpdateSinkSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: UpdateSinkSettingsRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSinkSettingsRequestBody'
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkSettingsResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkSettingsStreamAPIForbiddenResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/statistics/clear:
        post:
            tags:
                - configuration
            summary: Clear sink statistics
            description: Clears all statistics of the sink.
            operationId: SinkStatisticsClear
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamSinkStatisticsClearStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/statistics/files:
        get:
            tags:
                - configuration
            summary: Sink files statistics
            description: Get files statistics of the sink.
            operationId: SinkStatisticsFiles
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamSinkStatisticsFilesResponseBody'
                        required:
                            - files
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamSinkStatisticsFilesStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/statistics/total:
        get:
            tags:
                - configuration
            summary: Sink statistics total
            description: Get total statistics of the sink.
            operationId: SinkStatisticsTotal
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamSinkStatisticsTotalResponseBody'
                        required:
                            - levels
                            - total
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamSinkStatisticsTotalStreamAPISinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/statistics/clear:
        post:
            tags:
                - configuration
            summary: Clear source statistics
            description: Clears all statistics of the source.
            operationId: SourceStatisticsClear
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamSourceStatisticsClearStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/test:
        post:
            tags:
                - test
            summary: Test source payload mapping.
            description: Tests configured mapping of the source and its sinks.
            operationId: TestSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamTestSourceResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - tables
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamTestSourceStreamAPISourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/documentation/openapi.json:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 JSON Specification
            operationId: OpenapiJson
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi.yaml:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 YAML Specification
            operationId: OpenapiYaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.json:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 JSON Specification
            operationId: Openapi3Json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.yaml:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 YAML Specification
            operationId: Openapi3Yaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/tasks/{taskId}:
        get:
            tags:
                - configuration
            summary: Get task
            description: Get details of a task.
            operationId: GetTask
            parameters:
                - name: taskId
                  in: path
                  description: Unique ID of the task.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetTaskResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetTaskStreamAPITaskNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
definitions:
    AggregatedSinkResponseBody:
        title: AggregatedSinkResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            created:
                $ref: '#/definitions/CreatedEntityResponseBody'
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The sink stores records to a table.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            name:
                type: string
                description: Human readable name of the sink.
                example: Raw Data Sink
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinkId:
                type: string
                example: github-pr-table-sink
                minLength: 1
                maxLength: 48
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            statistics:
                $ref: '#/definitions/AggregatedStatisticsResponseBody'
            table:
                $ref: '#/definitions/TableSinkResponseBody'
            type:
                type: string
                example: table
                enum:
                    - table
            version:
                $ref: '#/definitions/VersionResponseBody'
        description: A mapping from imported data to a destination table.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            sinkId: github-pr-table-sink
            type: table
            name: Raw Data Sink
            description: The sink stores records to a table.
            table:
                type: keboola
                tableId: in.c-bucket.table
                mapping:
                    columns:
                        - type: uuid
                          name: id-col
                          primaryKey: true
                        - type: datetime
                          name: datetime-col
                        - type: ip
                          name: ip-col
                        - type: headers
                          name: headers-col
                        - type: body
                          name: body-col
                        - type: template
                          name: template-col
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
            version:
                number: 3
                hash: f43e93acd97eceb3
                description: The reason for the last change was...
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            created:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
                reason: Disabled for recurring problems.
            statistics:
                total:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                levels:
                    local:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    staging:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    target:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                files:
                    - state: writing
                      openedAt: "2022-04-28T14:20:04.000Z"
                      closingAt: "2022-04-28T14:20:04.000Z"
                      importingAt: "2022-04-28T14:20:04.000Z"
                      importedAt: "2022-04-28T14:20:04.000Z"
                      retryAttempt: 3
                      retryReason: network problem
                      retryAfter: "2022-04-28T14:20:04.000Z"
                      statistics:
                        total:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        levels:
                            local:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            staging:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            target:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
        required:
            - projectId
            - branchId
            - sourceId
            - sinkId
            - type
            - name
            - description
            - version
            - created
    AggregatedSourceResponseBody:
        title: AggregatedSourceResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            created:
                $ref: '#/definitions/CreatedEntityResponseBody'
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            http:
                $ref: '#/definitions/HTTPSourceResponseBody'
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinks:
                type: array
                items:
                    $ref: '#/definitions/AggregatedSinkResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        type: keboola
                        tableId: in.c-bucket.table
                        mapping:
                            columns:
                                - type: uuid
                                  name: id-col
                                  primaryKey: true
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: template
                                  name: template-col
                                  template:
                                    language: jsonnet
                                    content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        description: The reason for the last change was...
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      created:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                        reason: Disabled for recurring problems.
                      statistics:
                        total:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        levels:
                            local:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            staging:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            target:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                        files:
                            - state: writing
                              openedAt: "2022-04-28T14:20:04.000Z"
                              closingAt: "2022-04-28T14:20:04.000Z"
                              importingAt: "2022-04-28T14:20:04.000Z"
                              importedAt: "2022-04-28T14:20:04.000Z"
                              retryAttempt: 3
                              retryReason: network problem
                              retryAfter: "2022-04-28T14:20:04.000Z"
                              statistics:
                                total:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                levels:
                                    local:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
                                    staging:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
                                    target:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
            version:
                $ref: '#/definitions/VersionResponseBody'
        description: Source of data for further processing, start of the stream, max 100 sources per a branch.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
            http:
                url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
            version:
                number: 3
                hash: f43e93acd97eceb3
                description: The reason for the last change was...
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            created:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
                reason: Disabled for recurring problems.
            sinks:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  sinkId: github-pr-table-sink
                  type: table
                  name: Raw Data Sink
                  description: The sink stores records to a table.
                  table:
                    type: keboola
                    tableId: in.c-bucket.table
                    mapping:
                        columns:
                            - type: uuid
                              name: id-col
                              primaryKey: true
                            - type: datetime
                              name: datetime-col
                            - type: ip
                              name: ip-col
                            - type: headers
                              name: headers-col
                            - type: body
                              name: body-col
                            - type: template
                              name: template-col
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    description: The reason for the last change was...
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  created:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                    reason: Disabled for recurring problems.
                  statistics:
                    total:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    levels:
                        local:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        staging:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        target:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                    files:
                        - state: writing
                          openedAt: "2022-04-28T14:20:04.000Z"
                          closingAt: "2022-04-28T14:20:04.000Z"
                          importingAt: "2022-04-28T14:20:04.000Z"
                          importedAt: "2022-04-28T14:20:04.000Z"
                          retryAttempt: 3
                          retryReason: network problem
                          retryAfter: "2022-04-28T14:20:04.000Z"
                          statistics:
                            total:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            levels:
                                local:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                staging:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                target:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
        required:
            - projectId
            - branchId
            - sourceId
            - type
            - name
            - description
            - version
            - created
            - sinks
    AggregatedStatisticsResponseBody:
        title: AggregatedStatisticsResponseBody
        type: object
        properties:
            files:
                type: array
                items:
                    $ref: '#/definitions/SinkFileResponseBody'
                example:
                    - state: writing
                      openedAt: "2022-04-28T14:20:04.000Z"
                      closingAt: "2022-04-28T14:20:04.000Z"
                      importingAt: "2022-04-28T14:20:04.000Z"
                      importedAt: "2022-04-28T14:20:04.000Z"
                      retryAttempt: 3
                      retryReason: network problem
                      retryAfter: "2022-04-28T14:20:04.000Z"
                      statistics:
                        total:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        levels:
                            local:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            staging:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            target:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
            levels:
                $ref: '#/definitions/LevelsResponseBody'
            total:
                $ref: '#/definitions/LevelResponseBody'
        example:
            total:
                firstRecordAt: "2022-04-28T14:20:04.000Z"
                lastRecordAt: "2022-04-28T14:20:04.000Z"
                recordsCount: 1
                compressedSize: 1
                uncompressedSize: 1
            levels:
                local:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                staging:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                target:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
            files:
                - state: writing
                  openedAt: "2022-04-28T14:20:04.000Z"
                  closingAt: "2022-04-28T14:20:04.000Z"
                  importingAt: "2022-04-28T14:20:04.000Z"
                  importedAt: "2022-04-28T14:20:04.000Z"
                  retryAttempt: 3
                  retryReason: network problem
                  retryAfter: "2022-04-28T14:20:04.000Z"
                  statistics:
                    total:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    levels:
                        local:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        staging:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
                        target:
                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                            recordsCount: 1
                            compressedSize: 1
                            uncompressedSize: 1
        required:
            - total
            - levels
            - files
    ByResponseBody:
        title: ByResponseBody
        type: object
        properties:
            tokenDesc:
                type: string
                description: Description of the token.
                example: john.green@company.com
            tokenId:
                type: string
                description: ID of the token.
                example: "896455"
            type:
                type: string
                description: Date and time of deletion.
                example: user
                enum:
                    - system
                    - user
            userId:
                type: string
                description: ID of the user.
                example: "578621"
            userName:
                type: string
                description: Name of the user.
                example: John Green
        description: Information about the operation actor.
        example:
            type: user
            tokenId: "896455"
            tokenDesc: john.green@company.com
            userId: "578621"
            userName: John Green
        required:
            - type
    CreatedEntityResponseBody:
        title: CreatedEntityResponseBody
        type: object
        properties:
            at:
                type: string
                description: Date and time of deletion.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            by:
                $ref: '#/definitions/ByResponseBody'
        description: Information about the entity creation.
        example:
            at: "2022-04-28T14:20:04.000Z"
            by:
                type: user
                tokenId: "896455"
                tokenDesc: john.green@company.com
                userId: "578621"
                userName: John Green
        required:
            - at
            - by
    DeletedEntityResponseBody:
        title: DeletedEntityResponseBody
        type: object
        properties:
            at:
                type: string
                description: Date and time of deletion.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            by:
                $ref: '#/definitions/ByResponseBody'
        description: Information about the deleted entity.
        example:
            at: "2022-04-28T14:20:04.000Z"
            by:
                type: user
                tokenId: "896455"
                tokenDesc: john.green@company.com
                userId: "578621"
                userName: John Green
        required:
            - at
            - by
    DisabledEntityResponseBody:
        title: DisabledEntityResponseBody
        type: object
        properties:
            at:
                type: string
                description: Date and time of disabling.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            by:
                $ref: '#/definitions/ByResponseBody'
            reason:
                type: string
                description: Why was the entity disabled?
                example: Disabled for recurring problems.
        description: Information about the disabled entity.
        example:
            at: "2022-04-28T14:20:04.000Z"
            by:
                type: user
                tokenId: "896455"
                tokenDesc: john.green@company.com
                userId: "578621"
                userName: John Green
            reason: Disabled for recurring problems.
        required:
            - at
            - by
            - reason
    HTTPSourceResponseBody:
        title: HTTPSourceResponseBody
        type: object
        properties:
            url:
                type: string
                description: URL of the HTTP source. Contains secret used for authentication.
                example: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
        description: HTTP source details for "type" = "http".
        example:
            url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
        required:
            - url
    LevelResponseBody:
        title: LevelResponseBody
        type: object
        properties:
            compressedSize:
                type: integer
                description: Compressed size of data in bytes.
                example: 1
                format: int64
            firstRecordAt:
                type: string
                description: Timestamp of the first received record.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            lastRecordAt:
                type: string
                description: Timestamp of the last received record.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            recordsCount:
                type: integer
                example: 1
                format: int64
            uncompressedSize:
                type: integer
                description: Uncompressed size of data in bytes.
                example: 1
                format: int64
        example:
            firstRecordAt: "2022-04-28T14:20:04.000Z"
            lastRecordAt: "2022-04-28T14:20:04.000Z"
            recordsCount: 1
            compressedSize: 1
            uncompressedSize: 1
        required:
            - recordsCount
            - compressedSize
            - uncompressedSize
    LevelsResponseBody:
        title: LevelsResponseBody
        type: object
        properties:
            local:
                $ref: '#/definitions/LevelResponseBody'
            staging:
                $ref: '#/definitions/LevelResponseBody'
            target:
                $ref: '#/definitions/LevelResponseBody'
        example:
            local:
                firstRecordAt: "2022-04-28T14:20:04.000Z"
                lastRecordAt: "2022-04-28T14:20:04.000Z"
                recordsCount: 1
                compressedSize: 1
                uncompressedSize: 1
            staging:
                firstRecordAt: "2022-04-28T14:20:04.000Z"
                lastRecordAt: "2022-04-28T14:20:04.000Z"
                recordsCount: 1
                compressedSize: 1
                uncompressedSize: 1
            target:
                firstRecordAt: "2022-04-28T14:20:04.000Z"
                lastRecordAt: "2022-04-28T14:20:04.000Z"
                recordsCount: 1
                compressedSize: 1
                uncompressedSize: 1
    PaginatedResponseResponseBody:
        title: PaginatedResponseResponseBody
        type: object
        properties:
            afterId:
                type: string
                description: Current offset.
                example: my-object-123
            lastId:
                type: string
                description: ID of the last record in the response.
                example: my-object-456
            limit:
                type: integer
                description: Current limit.
                example: 100
                format: int64
            totalCount:
                type: integer
                description: Total count of all records.
                example: 1000
                format: int64
        example:
            limit: 100
            totalCount: 1000
            afterId: my-object-123
            lastId: my-object-456
        required:
            - afterId
            - limit
            - lastId
            - totalCount
    SettingPatchRequestBody:
        title: SettingPatchRequestBody
        type: object
        properties:
            key:
                type: string
                description: Key path.
                example: some.service.limit
                minLength: 1
            value:
                description: A new key value. Use null to reset the value to the default value.
                example: 1m20s
        description: One setting key-value pair.
        example:
            key: some.service.limit
            value: 1m20s
        required:
            - key
    SettingResultResponseBody:
        title: SettingResultResponseBody
        type: object
        properties:
            defaultValue:
                description: Default value.
                example: 30s
            description:
                type: string
                description: Key description.
                example: Minimal interval between uploads.
            key:
                type: string
                description: Key path.
                example: some.service.limit
            overwritten:
                type: boolean
                description: True, if the default value is locally overwritten.
                example: true
            protected:
                type: boolean
                description: True, if only a super admin can modify the key.
                example: false
            type:
                type: string
                description: Value type.
                example: string
                enum:
                    - string
                    - int
                    - float
                    - bool
                    - '[]string'
                    - '[]int'
                    - '[]float'
            validation:
                type: string
                description: Validation rules as a string definition.
                example: minDuration=15s
            value:
                description: Actual value.
                example: 1m20s
        description: One setting key-value pair.
        example:
            key: some.service.limit
            type: string
            description: Minimal interval between uploads.
            value: 1m20s
            defaultValue: 30s
            overwritten: true
            protected: false
            validation: minDuration=15s
        required:
            - key
            - type
            - description
            - value
            - defaultValue
            - overwritten
            - protected
    SinkFileResponseBody:
        title: SinkFileResponseBody
        type: object
        properties:
            closingAt:
                type: string
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            importedAt:
                type: string
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            importingAt:
                type: string
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            openedAt:
                type: string
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            retryAfter:
                type: string
                description: Next attempt time.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            retryAttempt:
                type: integer
                description: Number of failed attempts.
                example: 3
                format: int64
            retryReason:
                type: string
                description: Reason of the last failed attempt.
                example: network problem
            state:
                type: string
                example: writing
                enum:
                    - writing
                    - closing
                    - importing
                    - imported
            statistics:
                $ref: '#/definitions/SinkFileStatisticsResponseBody'
        example:
            state: writing
            openedAt: "2022-04-28T14:20:04.000Z"
            closingAt: "2022-04-28T14:20:04.000Z"
            importingAt: "2022-04-28T14:20:04.000Z"
            importedAt: "2022-04-28T14:20:04.000Z"
            retryAttempt: 3
            retryReason: network problem
            retryAfter: "2022-04-28T14:20:04.000Z"
            statistics:
                total:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                levels:
                    local:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    staging:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
                    target:
                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                        recordsCount: 1
                        compressedSize: 1
                        uncompressedSize: 1
        required:
            - state
            - openedAt
    SinkFileStatisticsResponseBody:
        title: SinkFileStatisticsResponseBody
        type: object
        properties:
            levels:
                $ref: '#/definitions/LevelsResponseBody'
            total:
                $ref: '#/definitions/LevelResponseBody'
        example:
            total:
                firstRecordAt: "2022-04-28T14:20:04.000Z"
                lastRecordAt: "2022-04-28T14:20:04.000Z"
                recordsCount: 1
                compressedSize: 1
                uncompressedSize: 1
            levels:
                local:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                staging:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
                target:
                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                    recordsCount: 1
                    compressedSize: 1
                    uncompressedSize: 1
        required:
            - total
            - levels
    SinkResponseBody:
        title: SinkResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            created:
                $ref: '#/definitions/CreatedEntityResponseBody'
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The sink stores records to a table.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            name:
                type: string
                description: Human readable name of the sink.
                example: Raw Data Sink
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinkId:
                type: string
                example: github-pr-table-sink
                minLength: 1
                maxLength: 48
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            table:
                $ref: '#/definitions/TableSinkResponseBody'
            type:
                type: string
                example: table
                enum:
                    - table
            version:
                $ref: '#/definitions/VersionResponseBody'
        description: A mapping from imported data to a destination table.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            sinkId: github-pr-table-sink
            type: table
            name: Raw Data Sink
            description: The sink stores records to a table.
            table:
                type: keboola
                tableId: in.c-bucket.table
                mapping:
                    columns:
                        - type: uuid
                          name: id-col
                          primaryKey: true
                        - type: datetime
                          name: datetime-col
                        - type: ip
                          name: ip-col
                        - type: headers
                          name: headers-col
                        - type: body
                          name: body-col
                        - type: template
                          name: template-col
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
            version:
                number: 3
                hash: f43e93acd97eceb3
                description: The reason for the last change was...
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            created:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
                reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - sinkId
            - type
            - name
            - description
            - version
            - created
    SourceResponseBody:
        title: SourceResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            created:
                $ref: '#/definitions/CreatedEntityResponseBody'
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            http:
                $ref: '#/definitions/HTTPSourceResponseBody'
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
            version:
                $ref: '#/definitions/VersionResponseBody'
        description: Source of data for further processing, start of the stream, max 100 sources per a branch.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
            http:
                url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
            version:
                number: 3
                hash: f43e93acd97eceb3
                description: The reason for the last change was...
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            created:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    tokenDesc: john.green@company.com
                    userId: "578621"
                    userName: John Green
                reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - type
            - name
            - description
            - version
            - created
    StreamAPIVersionIndexResponseBody:
        title: StreamAPIVersionIndexResponseBody
        type: object
        properties:
            api:
                type: string
                description: Name of the API
                example: stream
            documentation:
                type: string
                description: URL of the API documentation.
                example: https://stream.keboola.com/v1/documentation
        example:
            api: stream
            documentation: https://stream.keboola.com/v1/documentation
        required:
            - api
            - documentation
    StreamAggregationSourcesResponseBody:
        title: StreamAggregationSourcesResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            page:
                $ref: '#/definitions/PaginatedResponseResponseBody'
            projectId:
                type: integer
                example: 123
                format: int64
            sources:
                type: array
                items:
                    $ref: '#/definitions/AggregatedSourceResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      type: http
                      name: Github Webhook Source
                      description: The source receives events from Github.
                      http:
                        url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        description: The reason for the last change was...
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      created:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            tokenDesc: john.green@company.com
                            userId: "578621"
                            userName: John Green
                        reason: Disabled for recurring problems.
                      sinks:
                        - projectId: 123
                          branchId: 345
                          sourceId: github-webhook-source
                          sinkId: github-pr-table-sink
                          type: table
                          name: Raw Data Sink
                          description: The sink stores records to a table.
                          table:
                            type: keboola
                            tableId: in.c-bucket.table
                            mapping:
                                columns:
                                    - type: uuid
                                      name: id-col
                                      primaryKey: true
                                    - type: datetime
                                      name: datetime-col
                                    - type: ip
                                      name: ip-col
                                    - type: headers
                                      name: headers-col
                                    - type: body
                                      name: body-col
                                    - type: template
                                      name: template-col
                                      template:
                                        language: jsonnet
                                        content: body.foo + "-" + body.bar
                          version:
                            number: 3
                            hash: f43e93acd97eceb3
                            description: The reason for the last change was...
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                          created:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                          deleted:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                          disabled:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                tokenDesc: john.green@company.com
                                userId: "578621"
                                userName: John Green
                            reason: Disabled for recurring problems.
                          statistics:
                            total:
                                firstRecordAt: "2022-04-28T14:20:04.000Z"
                                lastRecordAt: "2022-04-28T14:20:04.000Z"
                                recordsCount: 1
                                compressedSize: 1
                                uncompressedSize: 1
                            levels:
                                local:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                staging:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                                target:
                                    firstRecordAt: "2022-04-28T14:20:04.000Z"
                                    lastRecordAt: "2022-04-28T14:20:04.000Z"
                                    recordsCount: 1
                                    compressedSize: 1
                                    uncompressedSize: 1
                            files:
                                - state: writing
                                  openedAt: "2022-04-28T14:20:04.000Z"
                                  closingAt: "2022-04-28T14:20:04.000Z"
                                  importingAt: "2022-04-28T14:20:04.000Z"
                                  importedAt: "2022-04-28T14:20:04.000Z"
                                  retryAttempt: 3
                                  retryReason: network problem
                                  retryAfter: "2022-04-28T14:20:04.000Z"
                                  statistics:
                                    total:
                                        firstRecordAt: "2022-04-28T14:20:04.000Z"
                                        lastRecordAt: "2022-04-28T14:20:04.000Z"
                                        recordsCount: 1
                                        compressedSize: 1
                                        uncompressedSize: 1
                                    levels:
                                        local:
                                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                                            recordsCount: 1
                                            compressedSize: 1
                                            uncompressedSize: 1
                                        staging:
                                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                                            recordsCount: 1
                                            compressedSize: 1
                                            uncompressedSize: 1
                                        target:
                                            firstRecordAt: "2022-04-28T14:20:04.000Z"
                                            lastRecordAt: "2022-04-28T14:20:04.000Z"
                                            recordsCount: 1
                                            compressedSize: 1
                                            uncompressedSize: 1
        example:
            projectId: 123
            branchId: 345
            page:
                limit: 100
                totalCount: 1000
                afterId: my-object-123
                lastId: my-object-456
            sources:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  type: http
                  name: Github Webhook Source
                  description: The source receives events from Github.
                  http:
                    url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    description: The reason for the last change was...
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
                  created:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        tokenDesc: john.green@company.com
                        userId: "578621"
                        userName: John Green
[...]
