swagger: "2.0"
info:
    title: Stream Service
    description: A service for continuously importing data to the Keboola platform.
    version: "1.0"
host: stream.keboola.com
consumes:
    - application/json
produces:
    - application/json
paths:
    /:
        get:
            tags:
                - documentation
            summary: Redirect to /v1
            description: Redirect to /v1.
            operationId: ApiRootIndex
            responses:
                "301":
                    description: Moved Permanently response.
            schemes:
                - https
    /v1:
        get:
            tags:
                - documentation
            summary: List API name and link to documentation.
            description: List API name and link to documentation.
            operationId: ApiVersionIndex
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamAPIVersionIndexResponseBody'
                        required:
                            - api
                            - documentation
            schemes:
                - https
    /v1/branches/{branchId}/sources:
        get:
            tags:
                - configuration
            summary: List all sources
            description: List all sources in the branch.
            operationId: ListSources
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamListSourcesResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sources
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create source
            description: Create a new source in the branch.
            operationId: CreateSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: CreateSourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamCreateSourceRequestBody'
                    required:
                        - type
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamCreateSourceResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/StreamCreateSourceStreamSourceAlreadyExistsResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/StreamCreateSourceStreamResourceLimitReachedResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}:
        get:
            tags:
                - configuration
            summary: Get source
            description: Get the source definition.
            operationId: GetSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - version
                            - type
                            - name
                            - description
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete source
            description: Delete the source.
            operationId: DeleteSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamDeleteSourceStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update source
            description: Update the source.
            operationId: UpdateSource
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: UpdateSourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSourceRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - version
                            - type
                            - name
                            - description
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/settings:
        get:
            tags:
                - configuration
            summary: Get source settings
            description: Get source settings.
            operationId: GetSourceSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/SettingResultResponse'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSourceSettingsStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update source settings
            description: Update source settings.
            operationId: UpdateSourceSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: UpdateSourceSettingsRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSourceSettingsRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/SettingResultResponse'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSourceSettingsStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks:
        get:
            tags:
                - configuration
            summary: List sinks
            description: List all sinks in the source.
            operationId: ListSinks
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamListSinksResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamListSinksStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create sink
            description: Create a new sink in the source.
            operationId: CreateSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: CreateSinkRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamCreateSinkRequestBody'
                    required:
                        - type
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkStreamSinkAlreadyExistsResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/StreamCreateSinkStreamResourceLimitReachedResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}:
        get:
            tags:
                - configuration
            summary: Get sink
            description: Get the sink definition.
            operationId: GetSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - sinkId
                            - version
                            - name
                            - description
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkStreamSinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete sink
            description: Delete the sink.
            operationId: DeleteSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamDeleteSinkStreamSinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update sink
            description: Update the sink.
            operationId: UpdateSink
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: UpdateSinkRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSinkRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkStreamSinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/sinks/{sinkId}/settings:
        get:
            tags:
                - configuration
            summary: Get sink settings
            description: Get the sink settings.
            operationId: GetSinkSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/SettingResultResponse'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetSinkSettingsStreamSinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update sink settings
            description: Update sink settings.
            operationId: UpdateSinkSettings
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
                - name: sinkId
                  in: path
                  description: Unique ID of the sink.
                  required: true
                  type: string
                - name: UpdateSinkSettingsRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/StreamUpdateSinkSettingsRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/SettingResultResponse'
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamUpdateSinkSettingsStreamSinkNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/branches/{branchId}/sources/{sourceId}/tokens/refresh:
        post:
            tags:
                - configuration
            summary: Refresh source tokens
            description: Each sink uses its own token scoped to the target bucket, this endpoint refreshes all of those tokens.
            operationId: RefreshSourceTokens
            parameters:
                - name: branchId
                  in: path
                  description: ID of the branch or "default".
                  required: true
                  type: string
                - name: sourceId
                  in: path
                  description: Unique ID of the source.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamRefreshSourceTokensResponseBody'
                        required:
                            - projectId
                            - branchId
                            - sourceId
                            - version
                            - type
                            - name
                            - description
                            - sinks
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamRefreshSourceTokensStreamSourceNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/documentation/openapi.json:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 JSON Specification
            operationId: OpenapiJson
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi.yaml:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 YAML Specification
            operationId: OpenapiYaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.json:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 JSON Specification
            operationId: Openapi3Json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.yaml:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 YAML Specification
            operationId: Openapi3Yaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/tasks/{taskId}:
        get:
            tags:
                - configuration
            summary: Get task
            description: Get details of a task.
            operationId: GetTask
            parameters:
                - name: taskId
                  in: path
                  description: Unique ID of the task.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/StreamGetTaskResponseBody'
                        required:
                            - taskId
                            - type
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/StreamGetTaskStreamTaskNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
definitions:
    ByResponseBody:
        title: ByResponseBody
        type: object
        properties:
            tokenId:
                type: string
                description: ID of the token.
                example: "896455"
            type:
                type: string
                description: Date and time of deletion.
                example: user
                enum:
                    - system
                    - user
            userDescription:
                type: string
                description: Description of the user.
                example: user@company.com
            userId:
                type: string
                description: ID of the user.
                example: "578621"
        description: Information about the operation actor.
        example:
            type: user
            tokenId: "896455"
            userId: "578621"
            userDescription: user@company.com
        required:
            - type
    DeletedEntityResponseBody:
        title: DeletedEntityResponseBody
        type: object
        properties:
            at:
                type: string
                description: Date and time of deletion.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            by:
                $ref: '#/definitions/ByResponseBody'
        description: Information about the deleted entity.
        example:
            at: "2022-04-28T14:20:04.000Z"
            by:
                type: user
                tokenId: "896455"
                userId: "578621"
                userDescription: user@company.com
        required:
            - at
            - by
    DisabledEntityResponseBody:
        title: DisabledEntityResponseBody
        type: object
        properties:
            at:
                type: string
                description: Date and time of disabling.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            by:
                $ref: '#/definitions/ByResponseBody'
            reason:
                type: string
                description: Why was the entity disabled?
                example: Disabled for recurring problems.
        description: Information about the disabled entity.
        example:
            at: "2022-04-28T14:20:04.000Z"
            by:
                type: user
                tokenId: "896455"
                userId: "578621"
                userDescription: user@company.com
            reason: Disabled for recurring problems.
        required:
            - at
            - by
            - reason
    HTTPSourceResponseBody:
        title: HTTPSourceResponseBody
        type: object
        properties:
            url:
                type: string
                description: URL of the HTTP source. Contains secret used for authentication.
                example: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
        description: HTTP source details for "type" = "http".
        example:
            url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
        required:
            - url
    SettingPatchRequestBody:
        title: SettingPatchRequestBody
        type: object
        properties:
            key:
                type: string
                description: Key path.
                example: some.service.limit
                minLength: 1
            value:
                description: A new key value. Use null to reset the value to the default value.
                example: 1m20s
        description: One setting key-value pair.
        example:
            key: some.service.limit
            value: 1m20s
        required:
            - key
    SettingResultResponse:
        title: SettingResultResponse
        type: object
        properties:
            defaultValue:
                description: Default value.
                example: 30s
            key:
                type: string
                description: Key path.
                example: some.service.limit
            overwritten:
                type: boolean
                description: True, if the default value is locally overwritten.
                example: true
            protected:
                type: boolean
                description: True, if only a super admin can modify the key.
                example: false
            type:
                type: string
                description: Value type.
                example: string
                enum:
                    - string
                    - int
                    - float
                    - boolean
            validation:
                type: string
                description: Validation rules as a string definition.
                example: minDuration=15s
            value:
                description: Actual value.
                example: 1m20s
        description: One setting key-value pair.
        example:
            key: some.service.limit
            type: string
            value: 1m20s
            defaultValue: 30s
            overwritten: true
            protected: false
            validation: minDuration=15s
        required:
            - key
            - type
            - value
            - defaultValue
            - overwritten
            - protected
    SinkResponseBody:
        title: SinkResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The sink stores records to a table.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            name:
                type: string
                description: Human readable name of the sink.
                example: Raw Data Sink
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinkId:
                type: string
                example: github-pr-table-sink
                minLength: 1
                maxLength: 48
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            table:
                $ref: '#/definitions/TableSinkResponseBody'
            type:
                type: string
                example: table
                enum:
                    - table
            version:
                $ref: '#/definitions/VersionResponseBody'
        description: A mapping from imported data to a destination table.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            sinkId: github-pr-table-sink
            type: table
            name: Raw Data Sink
            description: The sink stores records to a table.
            table:
                mapping:
                    tableId: in.c-bucket.table
                    columns:
                        - type: id
                          name: id-col
                          primaryKey: true
                        - type: datetime
                          name: datetime-col
                        - type: ip
                          name: ip-col
                        - type: headers
                          name: headers-col
                        - type: body
                          name: body-col
                        - type: template
                          name: template-col
                          language: jsonnet
                          content: body.foo + "-" + body.bar
            version:
                number: 3
                hash: f43e93acd97eceb3
                modifiedAt: "2022-04-28T14:20:04.000Z"
                description: The reason for the last change was...
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
                reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - sinkId
            - version
            - name
            - description
    SourceResponseBody:
        title: SourceResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            http:
                $ref: '#/definitions/HTTPSourceResponseBody'
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinks:
                type: array
                items:
                    $ref: '#/definitions/SinkResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        mapping:
                            tableId: in.c-bucket.table
                            columns:
                                - type: id
                                  name: id-col
                                  primaryKey: true
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: template
                                  name: template-col
                                  language: jsonnet
                                  content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        modifiedAt: "2022-04-28T14:20:04.000Z"
                        description: The reason for the last change was...
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                        reason: Disabled for recurring problems.
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
            version:
                $ref: '#/definitions/VersionResponseBody'
        description: Source of data for further processing, start of the stream, max 100 sources per a branch.
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
            http:
                url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
            version:
                number: 3
                hash: f43e93acd97eceb3
                modifiedAt: "2022-04-28T14:20:04.000Z"
                description: The reason for the last change was...
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
                reason: Disabled for recurring problems.
            sinks:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  sinkId: github-pr-table-sink
                  type: table
                  name: Raw Data Sink
                  description: The sink stores records to a table.
                  table:
                    mapping:
                        tableId: in.c-bucket.table
                        columns:
                            - type: id
                              name: id-col
                              primaryKey: true
                            - type: datetime
                              name: datetime-col
                            - type: ip
                              name: ip-col
                            - type: headers
                              name: headers-col
                            - type: body
                              name: body-col
                            - type: template
                              name: template-col
                              language: jsonnet
                              content: body.foo + "-" + body.bar
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    modifiedAt: "2022-04-28T14:20:04.000Z"
                    description: The reason for the last change was...
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                    reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - version
            - type
            - name
            - description
            - sinks
    StreamAPIVersionIndexResponseBody:
        title: StreamAPIVersionIndexResponseBody
        type: object
        properties:
            api:
                type: string
                description: Name of the API
                example: stream
            documentation:
                type: string
                description: URL of the API documentation.
                example: https://stream.keboola.com/v1/documentation
        example:
            api: stream
            documentation: https://stream.keboola.com/v1/documentation
        required:
            - api
            - documentation
    StreamCreateSinkRequestBody:
        title: StreamCreateSinkRequestBody
        type: object
        properties:
            description:
                type: string
                description: Description of the source.
                example: The sink stores records to a table.
                maxLength: 4096
            name:
                type: string
                description: Human readable name of the sink.
                example: Raw Data Sink
                minLength: 1
                maxLength: 40
            sinkId:
                type: string
                description: Optional ID, if not filled in, it will be generated from name. Cannot be changed later.
                example: github-pr-table-sink
                minLength: 1
                maxLength: 48
            table:
                $ref: '#/definitions/TableSinkRequestBody'
            type:
                type: string
                example: table
                enum:
                    - table
        example:
            sinkId: github-pr-table-sink
            type: table
            name: Raw Data Sink
            description: The sink stores records to a table.
            table:
                mapping:
                    tableId: in.c-bucket.table
                    columns:
                        - type: id
                          name: id-col
                          primaryKey: true
                        - type: datetime
                          name: datetime-col
                        - type: ip
                          name: ip-col
                        - type: headers
                          name: headers-col
                        - type: body
                          name: body-col
                        - type: template
                          name: template-col
                          language: jsonnet
                          content: body.foo + "-" + body.bar
        required:
            - type
            - name
    StreamCreateSinkResponseBody:
        title: StreamCreateSinkResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: abc123
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: false
            outputs:
                $ref: '#/definitions/TaskOutputsResponseBody'
            result:
                type: string
                example: abc123
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: success
                enum:
                    - processing
                    - success
                    - error
            taskId:
                type: string
                example: task_1234
            type:
                type: string
                description: Task type.
                example: abc123
            url:
                type: string
                description: URL of the task.
                example: abc123
        example:
            taskId: task_1234
            type: abc123
            url: abc123
            status: success
            isFinished: false
            createdAt: "2022-04-28T14:20:04.000Z"
            finishedAt: "2022-04-28T14:20:04.000Z"
            duration: 123456789
            result: abc123
            error: abc123
            outputs:
                url: abc123
                projectId: 123
                branchId: 345
                sinkId: github-pr-table-sink
                sourceId: github-webhook-source
        required:
            - taskId
            - type
            - url
            - status
            - isFinished
            - createdAt
    StreamCreateSinkStreamResourceLimitReachedResponseBody:
        title: StreamCreateSinkStreamResourceLimitReachedResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Resource limit reached.
        example:
            statusCode: 422
            error: stream.resourceLimitReached
            message: Maximum number of sources per project is 100.
        required:
            - statusCode
            - error
            - message
    StreamCreateSinkStreamSinkAlreadyExistsResponseBody:
        title: StreamCreateSinkStreamSinkAlreadyExistsResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Sink already exists in the source.
        example:
            statusCode: 409
            error: stream.sinkAlreadyExists
            message: Sink already exists in the source.
        required:
            - statusCode
            - error
            - message
    StreamCreateSinkStreamSourceNotFoundResponseBody:
        title: StreamCreateSinkStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamCreateSourceRequestBody:
        title: StreamCreateSourceRequestBody
        type: object
        properties:
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            sourceId:
                type: string
                description: Optional ID, if not filled in, it will be generated from name. Cannot be changed later.
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
        example:
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
        required:
            - type
            - name
    StreamCreateSourceResponseBody:
        title: StreamCreateSourceResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: abc123
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: false
            outputs:
                $ref: '#/definitions/TaskOutputsResponseBody'
            result:
                type: string
                example: abc123
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: success
                enum:
                    - processing
                    - success
                    - error
            taskId:
                type: string
                example: task_1234
            type:
                type: string
                description: Task type.
                example: abc123
            url:
                type: string
                description: URL of the task.
                example: abc123
        example:
            taskId: task_1234
            type: abc123
            url: abc123
            status: success
            isFinished: false
            createdAt: "2022-04-28T14:20:04.000Z"
            finishedAt: "2022-04-28T14:20:04.000Z"
            duration: 123456789
            result: abc123
            error: abc123
            outputs:
                url: abc123
                projectId: 123
                branchId: 345
                sinkId: github-pr-table-sink
                sourceId: github-webhook-source
        required:
            - taskId
            - type
            - url
            - status
            - isFinished
            - createdAt
    StreamCreateSourceStreamResourceLimitReachedResponseBody:
        title: StreamCreateSourceStreamResourceLimitReachedResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Resource limit reached.
        example:
            statusCode: 422
            error: stream.resourceLimitReached
            message: Maximum number of sources per project is 100.
        required:
            - statusCode
            - error
            - message
    StreamCreateSourceStreamSourceAlreadyExistsResponseBody:
        title: StreamCreateSourceStreamSourceAlreadyExistsResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source already exists in the branch.
        example:
            statusCode: 409
            error: stream.sourceAlreadyExists
            message: Source already exists in the branch.
        required:
            - statusCode
            - error
            - message
    StreamDeleteSinkStreamSinkNotFoundResponseBody:
        title: StreamDeleteSinkStreamSinkNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Sink not found error.
        example:
            statusCode: 404
            error: stream.sinkNotFound
            message: Sink "github-changed-files" not found.
        required:
            - statusCode
            - error
            - message
    StreamDeleteSinkStreamSourceNotFoundResponseBody:
        title: StreamDeleteSinkStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamDeleteSourceStreamSourceNotFoundResponseBody:
        title: StreamDeleteSourceStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetSinkResponseBody:
        title: StreamGetSinkResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The sink stores records to a table.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            name:
                type: string
                description: Human readable name of the sink.
                example: Raw Data Sink
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinkId:
                type: string
                example: github-pr-table-sink
                minLength: 1
                maxLength: 48
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            table:
                $ref: '#/definitions/TableSinkResponseBody'
            type:
                type: string
                example: table
                enum:
                    - table
            version:
                $ref: '#/definitions/VersionResponseBody'
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            sinkId: github-pr-table-sink
            type: table
            name: Raw Data Sink
            description: The sink stores records to a table.
            table:
                mapping:
                    tableId: in.c-bucket.table
                    columns:
                        - type: id
                          name: id-col
                          primaryKey: true
                        - type: datetime
                          name: datetime-col
                        - type: ip
                          name: ip-col
                        - type: headers
                          name: headers-col
                        - type: body
                          name: body-col
                        - type: template
                          name: template-col
                          language: jsonnet
                          content: body.foo + "-" + body.bar
            version:
                number: 3
                hash: f43e93acd97eceb3
                modifiedAt: "2022-04-28T14:20:04.000Z"
                description: The reason for the last change was...
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
                reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - sinkId
            - version
            - name
            - description
    StreamGetSinkSettingsStreamSinkNotFoundResponseBody:
        title: StreamGetSinkSettingsStreamSinkNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Sink not found error.
        example:
            statusCode: 404
            error: stream.sinkNotFound
            message: Sink "github-changed-files" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetSinkSettingsStreamSourceNotFoundResponseBody:
        title: StreamGetSinkSettingsStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetSinkStreamSinkNotFoundResponseBody:
        title: StreamGetSinkStreamSinkNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Sink not found error.
        example:
            statusCode: 404
            error: stream.sinkNotFound
            message: Sink "github-changed-files" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetSinkStreamSourceNotFoundResponseBody:
        title: StreamGetSinkStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetSourceResponseBody:
        title: StreamGetSourceResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            http:
                $ref: '#/definitions/HTTPSourceResponseBody'
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinks:
                type: array
                items:
                    $ref: '#/definitions/SinkResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        mapping:
                            tableId: in.c-bucket.table
                            columns:
                                - type: id
                                  name: id-col
                                  primaryKey: true
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: template
                                  name: template-col
                                  language: jsonnet
                                  content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        modifiedAt: "2022-04-28T14:20:04.000Z"
                        description: The reason for the last change was...
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                        reason: Disabled for recurring problems.
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
            version:
                $ref: '#/definitions/VersionResponseBody'
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
            http:
                url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
            version:
                number: 3
                hash: f43e93acd97eceb3
                modifiedAt: "2022-04-28T14:20:04.000Z"
                description: The reason for the last change was...
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
                reason: Disabled for recurring problems.
            sinks:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  sinkId: github-pr-table-sink
                  type: table
                  name: Raw Data Sink
                  description: The sink stores records to a table.
                  table:
                    mapping:
                        tableId: in.c-bucket.table
                        columns:
                            - type: id
                              name: id-col
                              primaryKey: true
                            - type: datetime
                              name: datetime-col
                            - type: ip
                              name: ip-col
                            - type: headers
                              name: headers-col
                            - type: body
                              name: body-col
                            - type: template
                              name: template-col
                              language: jsonnet
                              content: body.foo + "-" + body.bar
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    modifiedAt: "2022-04-28T14:20:04.000Z"
                    description: The reason for the last change was...
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                    reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - version
            - type
            - name
            - description
            - sinks
    StreamGetSourceSettingsStreamSourceNotFoundResponseBody:
        title: StreamGetSourceSettingsStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetSourceStreamSourceNotFoundResponseBody:
        title: StreamGetSourceStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamGetTaskResponseBody:
        title: StreamGetTaskResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: abc123
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: false
            outputs:
                $ref: '#/definitions/TaskOutputsResponseBody'
            result:
                type: string
                example: abc123
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: success
                enum:
                    - processing
                    - success
                    - error
            taskId:
                type: string
                example: task_1234
            type:
                type: string
                description: Task type.
                example: abc123
            url:
                type: string
                description: URL of the task.
                example: abc123
        example:
            taskId: task_1234
            type: abc123
            url: abc123
            status: success
            isFinished: false
            createdAt: "2022-04-28T14:20:04.000Z"
            finishedAt: "2022-04-28T14:20:04.000Z"
            duration: 123456789
            result: abc123
            error: abc123
            outputs:
                url: abc123
                projectId: 123
                branchId: 345
                sinkId: github-pr-table-sink
                sourceId: github-webhook-source
        required:
            - taskId
            - type
            - url
            - status
            - isFinished
            - createdAt
    StreamGetTaskStreamTaskNotFoundResponseBody:
        title: StreamGetTaskStreamTaskNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Task not found error.
        example:
            statusCode: 404
            error: stream.taskNotFound
            message: Task "001" not found.
        required:
            - statusCode
            - error
            - message
    StreamListSinksResponseBody:
        title: StreamListSinksResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            projectId:
                type: integer
                example: 123
                format: int64
            sinks:
                type: array
                items:
                    $ref: '#/definitions/SinkResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        mapping:
                            tableId: in.c-bucket.table
                            columns:
                                - type: id
                                  name: id-col
                                  primaryKey: true
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: template
                                  name: template-col
                                  language: jsonnet
                                  content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        modifiedAt: "2022-04-28T14:20:04.000Z"
                        description: The reason for the last change was...
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                        reason: Disabled for recurring problems.
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            sinks:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  sinkId: github-pr-table-sink
                  type: table
                  name: Raw Data Sink
                  description: The sink stores records to a table.
                  table:
                    mapping:
                        tableId: in.c-bucket.table
                        columns:
                            - type: id
                              name: id-col
                              primaryKey: true
                            - type: datetime
                              name: datetime-col
                            - type: ip
                              name: ip-col
                            - type: headers
                              name: headers-col
                            - type: body
                              name: body-col
                            - type: template
                              name: template-col
                              language: jsonnet
                              content: body.foo + "-" + body.bar
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    modifiedAt: "2022-04-28T14:20:04.000Z"
                    description: The reason for the last change was...
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                    reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - sinks
    StreamListSinksStreamSourceNotFoundResponseBody:
        title: StreamListSinksStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Source not found error.
        example:
            statusCode: 404
            error: stream.sourceNotFound
            message: Source "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    StreamListSourcesResponseBody:
        title: StreamListSourcesResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            projectId:
                type: integer
                example: 123
                format: int64
            sources:
                type: array
                items:
                    $ref: '#/definitions/SourceResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      type: http
                      name: Github Webhook Source
                      description: The source receives events from Github.
                      http:
                        url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        modifiedAt: "2022-04-28T14:20:04.000Z"
                        description: The reason for the last change was...
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                        reason: Disabled for recurring problems.
                      sinks:
                        - projectId: 123
                          branchId: 345
                          sourceId: github-webhook-source
                          sinkId: github-pr-table-sink
                          type: table
                          name: Raw Data Sink
                          description: The sink stores records to a table.
                          table:
                            mapping:
                                tableId: in.c-bucket.table
                                columns:
                                    - type: id
                                      name: id-col
                                      primaryKey: true
                                    - type: datetime
                                      name: datetime-col
                                    - type: ip
                                      name: ip-col
                                    - type: headers
                                      name: headers-col
                                    - type: body
                                      name: body-col
                                    - type: template
                                      name: template-col
                                      language: jsonnet
                                      content: body.foo + "-" + body.bar
                          version:
                            number: 3
                            hash: f43e93acd97eceb3
                            modifiedAt: "2022-04-28T14:20:04.000Z"
                            description: The reason for the last change was...
                          deleted:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                userId: "578621"
                                userDescription: user@company.com
                          disabled:
                            at: "2022-04-28T14:20:04.000Z"
                            by:
                                type: user
                                tokenId: "896455"
                                userId: "578621"
                                userDescription: user@company.com
                            reason: Disabled for recurring problems.
        example:
            projectId: 123
            branchId: 345
            sources:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  type: http
                  name: Github Webhook Source
                  description: The source receives events from Github.
                  http:
                    url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    modifiedAt: "2022-04-28T14:20:04.000Z"
                    description: The reason for the last change was...
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                    reason: Disabled for recurring problems.
                  sinks:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        mapping:
                            tableId: in.c-bucket.table
                            columns:
                                - type: id
                                  name: id-col
                                  primaryKey: true
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: template
                                  name: template-col
                                  language: jsonnet
                                  content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        modifiedAt: "2022-04-28T14:20:04.000Z"
                        description: The reason for the last change was...
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                        reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sources
    StreamRefreshSourceTokensResponseBody:
        title: StreamRefreshSourceTokensResponseBody
        type: object
        properties:
            branchId:
                type: integer
                example: 345
                format: int64
            deleted:
                $ref: '#/definitions/DeletedEntityResponseBody'
            description:
                type: string
                description: Description of the source.
                example: The source receives events from Github.
                maxLength: 4096
            disabled:
                $ref: '#/definitions/DisabledEntityResponseBody'
            http:
                $ref: '#/definitions/HTTPSourceResponseBody'
            name:
                type: string
                description: Human readable name of the source.
                example: Github Webhook Source
                minLength: 1
                maxLength: 40
            projectId:
                type: integer
                example: 123
                format: int64
            sinks:
                type: array
                items:
                    $ref: '#/definitions/SinkResponseBody'
                example:
                    - projectId: 123
                      branchId: 345
                      sourceId: github-webhook-source
                      sinkId: github-pr-table-sink
                      type: table
                      name: Raw Data Sink
                      description: The sink stores records to a table.
                      table:
                        mapping:
                            tableId: in.c-bucket.table
                            columns:
                                - type: id
                                  name: id-col
                                  primaryKey: true
                                - type: datetime
                                  name: datetime-col
                                - type: ip
                                  name: ip-col
                                - type: headers
                                  name: headers-col
                                - type: body
                                  name: body-col
                                - type: template
                                  name: template-col
                                  language: jsonnet
                                  content: body.foo + "-" + body.bar
                      version:
                        number: 3
                        hash: f43e93acd97eceb3
                        modifiedAt: "2022-04-28T14:20:04.000Z"
                        description: The reason for the last change was...
                      deleted:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                      disabled:
                        at: "2022-04-28T14:20:04.000Z"
                        by:
                            type: user
                            tokenId: "896455"
                            userId: "578621"
                            userDescription: user@company.com
                        reason: Disabled for recurring problems.
            sourceId:
                type: string
                example: github-webhook-source
                minLength: 1
                maxLength: 48
            type:
                type: string
                example: http
                enum:
                    - http
            version:
                $ref: '#/definitions/VersionResponseBody'
        example:
            projectId: 123
            branchId: 345
            sourceId: github-webhook-source
            type: http
            name: Github Webhook Source
            description: The source receives events from Github.
            http:
                url: https://stream-in.keboola.com/G0lpTbz0vhakDicfoDQQ3BCzGYdW3qewd1D3eUbqETygHKGb
            version:
                number: 3
                hash: f43e93acd97eceb3
                modifiedAt: "2022-04-28T14:20:04.000Z"
                description: The reason for the last change was...
            deleted:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
            disabled:
                at: "2022-04-28T14:20:04.000Z"
                by:
                    type: user
                    tokenId: "896455"
                    userId: "578621"
                    userDescription: user@company.com
                reason: Disabled for recurring problems.
            sinks:
                - projectId: 123
                  branchId: 345
                  sourceId: github-webhook-source
                  sinkId: github-pr-table-sink
                  type: table
                  name: Raw Data Sink
                  description: The sink stores records to a table.
                  table:
                    mapping:
                        tableId: in.c-bucket.table
                        columns:
                            - type: id
                              name: id-col
                              primaryKey: true
                            - type: datetime
                              name: datetime-col
                            - type: ip
                              name: ip-col
                            - type: headers
                              name: headers-col
                            - type: body
                              name: body-col
                            - type: template
                              name: template-col
                              language: jsonnet
                              content: body.foo + "-" + body.bar
                  version:
                    number: 3
                    hash: f43e93acd97eceb3
                    modifiedAt: "2022-04-28T14:20:04.000Z"
                    description: The reason for the last change was...
                  deleted:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                  disabled:
                    at: "2022-04-28T14:20:04.000Z"
                    by:
                        type: user
                        tokenId: "896455"
                        userId: "578621"
                        userDescription: user@company.com
                    reason: Disabled for recurring problems.
        required:
            - projectId
            - branchId
            - sourceId
            - version
            - type
            - name
            - description
            - sinks
    StreamRefreshSourceTokensStreamSourceNotFoundResponseBody:
        title: StreamRefreshSourceTokensStreamSourceNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: stream.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
[...]
