<!DOCTYPE html>
<html>
<head>
    <title>Keboola As Code Distribution Repository</title>
</head>
<body>
<div id="navigation"></div>
<div id="listing"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  // See https://github.com/rufuspollock/s3-bucket-listing for details
  var S3BL_IGNORE_PATH = true;
  var BUCKET_URL = 'https://s3.amazonaws.com/${bucket}';
  var BUCKET_WEBSITE_URL = 'https://${distDomainName}';
  var EXCLUDE_FILE = ['index.html', 's3-list.js'];
</script>
<script type="text/javascript" src="./s3-list.js"></script>

</body>
</html>
