---
kind: Service
apiVersion: v1
metadata:
  name: apps-proxy
  namespace: $NAMESPACE
  labels:
    app: apps-proxy
spec:
  type: ClusterIP
  selector:
    app: apps-proxy
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
