# See default values: https://github.com/bitnami/charts/blob/master/bitnami/etcd/values.yaml
image:
  tag: 3.5.5-debian-11-r16

commonLabels:
  app: templates-api-etcd

podLabels:
  app: templates-api-etcd

podAnnotations:
  log: "true"
  ad.datadoghq.com/templates-api-etcd.check_names: '["etcd"]'
  ad.datadoghq.com/templates-api-etcd.init_configs: '[{}]'
  ad.datadoghq.com/templates-api-etcd.instances: |
    [
      {
        "prometheus_url": "http://%%host%%:2379/metrics"
      }
    ]

resources:
  requests:
    cpu: "200m"
    memory: "256Mi"
  limits:
    memory: "256Mi"

# Keep 15 minutes of history, see https://etcd.io/docs/v3.5/op-guide/maintenance/#auto-compaction.
# etcd uses MVCC - multi version concurrency control.
# All previous versions of the database state are kept.
# Here, the Auto Compaction Mode is enabled.
# Each 15 minutes are deleted all old revisions older than 15 minutes.
autoCompactionMode: "periodic"
autoCompactionRetention: "15m"

removeMemberOnContainerTermination: false

extraEnvVars:
  - name: ETCD_DISABLE_STORE_MEMBER_ID
    value: "yes"

auth:
  rbac:
    create: true
    allowNoneAuthentication: false
  token:
    type: jwt

service:
  clusterIP: None #headless service

networkPolicy:
  enabled: true
  allowExternal: false
  extraIngress:
   # Allow DataDog HTTP calls to the /metrics
   - ports:
       - port: 2379
     from:
       - podSelector:
           matchLabels:
             app: datadog-agent

persistence:
  enabled: true
  size: 512Mi

tolerations:
  - key: app
    operator: Exists
    effect: NoSchedule

pdb:
  create: false

nodeSelector:
  nodepool: main

startupProbe:
  enabled: true
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 60
livenessProbe:
  initialDelaySeconds: 0 # replaced by startupProbe
readinessProbe:
  initialDelaySeconds: 0 # replaced by startupProbe
