name: "Lint Code"

on:
  workflow_call:

env:
  GO_VERSION: 1.22.0

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Check links in Markdown files
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
          args: |
            './**/*.md' 
            --verbose
            --exclude-path 'vendor' 
            --exclude-path 'test' 
            --exclude '^http://localhost.*' 
            --exclude '^https://app.datadoghq.eu/.*'
            --exclude '^https://community.chocolatey.org/.*'
            --exclude '^https://packages.debian.org/$'

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Load Go cache
        uses: ./.github/actions/go-cache
        with:
          key: lint

      - name: Install tools
        run: ./scripts/tools.sh
        shell: bash

      - name: Run code linters
        run: make lint
        shell: bash
