name: "Lint Code"

on:
  workflow_call:

env:
  GO_VERSION: 1.19.3

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Load Go cache
        uses: ./.github/actions/go-cache
        with:
          key: lint
          goVersion: ${{ env.GOVERSION }}

      - name: Install tools
        run: ./scripts/tools.sh
        shell: bash

      - name: Run code linters
        run: make lint
        shell: bash

