name: "E2E Tests: CLI"

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false

env:
  GO_VERSION: 1.22.2
  TEST_PARALLELISM: 16
  TEST_PARALLELISM_PKG: 1
  TEST_COVERAGE: false

jobs:
  test:
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux
            os: ubuntu-latest
          - name: mac-os
            os: macos-latest
          - name: windows
            os: windows-2022
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup line endings
        run: git config --global core.autocrlf false

      - name: Change default TEST_COVERAGE when on main branch
        if: github.ref == 'refs/heads/main'
        run: echo "TEST_COVERAGE=true" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set TEST_KBC_PROJECTS_FILE entries
        uses: ./.github/actions/export-kbc-projects
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Load Go build cache
        uses: ./.github/actions/go-cache
        with:
          key: e2e-cli

      - name: Load Go tools cache
        uses: ./.github/actions/go-tools-cache

      - name: Run tests
        run: make tests-cli
        shell: bash
        env:
          VERSION: ${{ inputs.version }}
          TEST_KBC_PROJECTS_LOCK_HOST: ${{ vars.TEST_KBC_PROJECTS_LOCK_HOST }}
          TEST_KBC_PROJECTS_LOCK_PASSWORD: ${{ secrets.TEST_KBC_PROJECTS_LOCK_PASSWORD }}
          TEST_KBC_PROJECTS_FILE: '${{ github.workspace }}/${{ vars.TEST_KBC_PROJECTS_FILE }}'
