name: "E2E: Buffer"

on:
  workflow_call:

env:
  GO_VERSION: 1.22.2
  TEST_PARALLELISM: 16
  TEST_PARALLELISM_PKG: 1
  TEST_COVERAGE: false

jobs:
  test:
    name: test
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Setup line endings
        run: git config --global core.autocrlf false

      - name: Change default TEST_COVERAGE when on main branch
        if: github.ref == 'refs/heads/main'
        run: echo "TEST_COVERAGE=true" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set TEST_KBC_PROJECTS_FILE entries
        uses: ./.github/actions/export-kbc-projects
        with:
          secrets: ${{ toJSON(secrets) }}

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Load Go build cache
        uses: ./.github/actions/go-cache
        with:
          key: e2e

      - name: Load Go tools cache
        uses: ./.github/actions/go-tools-cache

      - name: Start etcd database
        run: |
          set -Eeuo pipefail
          docker compose run -d --rm --publish 2379:2379 etcd
          sudo echo "127.0.0.1 etcd" | sudo tee -a /etc/hosts

      - name: Run API E2E tests
        run: make tests-stream-api
        shell: bash
        env:
          TEST_KBC_PROJECTS_LOCK_HOST: ${{ vars.TEST_KBC_PROJECTS_LOCK_HOST }}
          TEST_KBC_PROJECTS_LOCK_PASSWORD: ${{ secrets.TEST_KBC_PROJECTS_LOCK_PASSWORD }}
          TEST_KBC_PROJECTS_FILE: '${{ github.workspace }}/${{ vars.TEST_KBC_PROJECTS_FILE }}'
          STREAM_ETCD_ENDPOINT: etcd:2379
          STREAM_ETCD_USERNAME: root
          STREAM_ETCD_PASSWORD: toor
          STREAM_ETCD_NAMESPACE: stream-api

      - name: Validate OpenAPI3 definition
        uses: char0n/swagger-editor-validate@b642f037ac53c392f9c8d781c369ce129684e93e
        with:
          definition-file: internal/pkg/service/stream/api/openapi/openapi3.yaml

