name: "E2E Tests: CLI"

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false

env:
  GO_VERSION: 1.22.0
  TEST_PARALLELISM: 8
  TEST_PARALLELISM_PKG: 1
  TEST_PROJECTS_LINUX: |
    [
      {"host":"connection.keboola.com","project":8764,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8764_TOKEN }}"},
      {"host":"connection.keboola.com","project":8765,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8765_TOKEN }}"},
      {"host":"connection.keboola.com","project":8766,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8766_TOKEN }}"},
      {"host":"connection.europe-west3.gcp.keboola.com","project":45,"stagingStorage":"gcs","backend":"bigquery","token":"${{ secrets.TEST_KBC_PROJECT_45_TOKEN }}"},
      {"host":"connection.europe-west3.gcp.keboola.com","project":46,"stagingStorage":"gcs","backend":"bigquery","token":"${{ secrets.TEST_KBC_PROJECT_46_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10890,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10890_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10891,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10891_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10892,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10892_TOKEN }}"}
    ]
  TEST_PROJECTS_MACOS: |
    [
      {"host":"connection.keboola.com","project":8771,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8771_TOKEN }}"},
      {"host":"connection.keboola.com","project":8772,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8772_TOKEN }}"},
      {"host":"connection.keboola.com","project":8773,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8773_TOKEN }}"},
      {"host":"connection.europe-west3.gcp.keboola.com","project":47,"stagingStorage":"gcs","backend":"bigquery","token":"${{ secrets.TEST_KBC_PROJECT_47_TOKEN }}"},
      {"host":"connection.europe-west3.gcp.keboola.com","project":48,"stagingStorage":"gcs","backend":"bigquery","token":"${{ secrets.TEST_KBC_PROJECT_48_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10893,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10893_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10896,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10896_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10897,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10897_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10898,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10898_TOKEN }}"}
    ]
  TEST_PROJECTS_WINDOWS: |
    [
      {"host":"connection.keboola.com","project":8778,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8778_TOKEN }}"},
      {"host":"connection.keboola.com","project":8779,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8779_TOKEN }}"},
      {"host":"connection.keboola.com","project":8780,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8780_TOKEN }}"},
      {"host":"connection.keboola.com","project":8782,"stagingStorage":"s3","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_8782_TOKEN }}"},
      {"host":"connection.europe-west3.gcp.keboola.com","project":49,"stagingStorage":"gcs","backend":"bigquery","token":"${{ secrets.TEST_KBC_PROJECT_49_TOKEN }}"},
      {"host":"connection.europe-west3.gcp.keboola.com","project":50,"stagingStorage":"gcs","backend":"bigquery","token":"${{ secrets.TEST_KBC_PROJECT_50_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10894,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10894_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10902,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10902_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10903,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10903_TOKEN }}"},
      {"host":"connection.north-europe.azure.keboola.com","project":10904,"stagingStorage":"abs","backend":"snowflake","token":"${{ secrets.TEST_KBC_PROJECT_10904_TOKEN }}"}
    ]

jobs:
  test:
    name: ${{ matrix.name }}
    concurrency:
      group: tests-e2e-cli-${{ matrix.name }}
      cancel-in-progress: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: linux
            os: ubuntu-latest
            projects: TEST_PROJECTS_LINUX
          - name: mac-os
            os: macos-latest
            projects: TEST_PROJECTS_MACOS
          - name: windows
            os: windows-2022
            projects: TEST_PROJECTS_WINDOWS
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup line endings
        run: git config --global core.autocrlf false

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Load Go cache
        uses: ./.github/actions/go-cache
        with:
          key: e2e

      - name: Install tools
        run: . ./scripts/tools.sh
        shell: bash

      - name: Run tests
        run: make tests-cli
        shell: bash
        env:
          VERSION: ${{ inputs.version }}
          TEST_KBC_PROJECTS: ${{ env[matrix.projects] }}
