---
name: "Lint YAML code"

on:
  workflow_call:

jobs:
  yaml-lint:
    name: yaml-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          file_or_dir: ./
