swagger: "2.0"
info:
    title: Buffer Service
    description: A service for continuously importing data to Keboola storage.
    version: "1.0"
host: buffer.keboola.com
consumes:
    - application/json
produces:
    - application/json
paths:
    /:
        get:
            tags:
                - documentation
            summary: Redirect to /v1
            description: Redirect to /v1.
            operationId: ApiRootIndex
            responses:
                "301":
                    description: Moved Permanently response.
            schemes:
                - https
    /v1:
        get:
            tags:
                - documentation
            summary: List API name and link to documentation.
            description: List API name and link to documentation.
            operationId: ApiVersionIndex
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferAPIVersionIndexResponseBody'
                        required:
                            - api
                            - documentation
            schemes:
                - https
    /v1/documentation/openapi.json:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 JSON Specification
            operationId: OpenapiJson
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi.yaml:
        get:
            tags:
                - documentation
            summary: Swagger 2.0 YAML Specification
            operationId: OpenapiYaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.json:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 JSON Specification
            operationId: Openapi3Json
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/documentation/openapi3.yaml:
        get:
            tags:
                - documentation
            summary: OpenAPI 3.0 YAML Specification
            operationId: Openapi3Yaml
            responses:
                "200":
                    description: File downloaded
                    schema:
                        type: file
            schemes:
                - http
                - https
    /v1/import/{projectId}/{receiverId}/{secret}:
        post:
            tags:
                - import
            summary: Import data
            description: Upload data into the receiver.
            operationId: Import
            parameters:
                - name: projectId
                  in: path
                  description: ID of the project
                  required: true
                  type: integer
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
                - name: secret
                  in: path
                  description: Secret used for authentication.
                  required: true
                  type: string
                  maxLength: 48
                  minLength: 48
                - name: Content-Type
                  in: header
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferImportBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "413":
                    description: Request Entity Too Large response.
                    schema:
                        $ref: '#/definitions/BufferImportBufferPayloadTooLargeResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
    /v1/receivers:
        get:
            tags:
                - configuration
            summary: List all receivers
            description: List all receivers for a given project.
            operationId: ListReceivers
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferListReceiversResponseBody'
                        required:
                            - receivers
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create receiver
            description: Create a new receiver for a given project
            operationId: CreateReceiver
            parameters:
                - name: CreateReceiverRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/BufferCreateReceiverRequestBody'
                    required:
                        - name
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/BufferCreateReceiverResponseBody'
                        required:
                            - id
                            - url
                            - status
                            - isFinished
                            - createdAt
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/BufferCreateReceiverBufferReceiverAlreadyExistsResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/BufferCreateReceiverBufferResourceLimitReachedResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/receivers/{receiverId}:
        get:
            tags:
                - configuration
            summary: Get receiver
            description: Get the configuration of a receiver.
            operationId: GetReceiver
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferGetReceiverResponseBody'
                        required:
                            - id
                            - url
                            - name
                            - exports
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferGetReceiverBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete receiver
            description: Delete a receiver.
            operationId: DeleteReceiver
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferDeleteReceiverBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update receiver
            description: Update a receiver export.
            operationId: UpdateReceiver
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
                - name: UpdateReceiverRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/BufferUpdateReceiverRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferUpdateReceiverResponseBody'
                        required:
                            - id
                            - url
                            - name
                            - exports
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferUpdateReceiverBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/receivers/{receiverId}/exports:
        get:
            tags:
                - configuration
            summary: List exports
            description: List all exports for a given receiver.
            operationId: ListExports
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferListExportsResponseBody'
                        required:
                            - exports
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferListExportsBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        post:
            tags:
                - configuration
            summary: Create export
            description: Create a new export for an existing receiver.
            operationId: CreateExport
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
                - name: CreateExportRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/BufferCreateExportRequestBody'
                    required:
                        - name
                        - mapping
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/BufferCreateExportResponseBody'
                        required:
                            - id
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferCreateExportBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "409":
                    description: Conflict response.
                    schema:
                        $ref: '#/definitions/BufferCreateExportBufferExportAlreadyExistsResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
                "422":
                    description: Unprocessable Entity response.
                    schema:
                        $ref: '#/definitions/BufferCreateExportBufferResourceLimitReachedResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/receivers/{receiverId}/exports/{exportId}:
        get:
            tags:
                - configuration
            summary: Get export
            description: Get the configuration of an export.
            operationId: GetExport
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
                - name: exportId
                  in: path
                  description: Unique ID of the export.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferGetExportResponseBody'
                        required:
                            - id
                            - receiverId
                            - name
                            - mapping
                            - conditions
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferGetExportBufferExportNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        delete:
            tags:
                - configuration
            summary: Delete export
            description: Delete a receiver export.
            operationId: DeleteExport
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
                - name: exportId
                  in: path
                  description: Unique ID of the export.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferDeleteExportBufferExportNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
        patch:
            tags:
                - configuration
            summary: Update export
            description: Update a receiver export.
            operationId: UpdateExport
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
                - name: exportId
                  in: path
                  description: Unique ID of the export.
                  required: true
                  type: string
                - name: UpdateExportRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/BufferUpdateExportRequestBody'
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferUpdateExportResponseBody'
                        required:
                            - id
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferUpdateExportBufferExportNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/receivers/{receiverId}/tokens/refresh:
        post:
            tags:
                - configuration
            summary: Refresh receiver tokens
            description: Each export uses its own token scoped to the target bucket, this endpoint refreshes all of those tokens.
            operationId: RefreshReceiverTokens
            parameters:
                - name: receiverId
                  in: path
                  description: Unique ID of the receiver.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferRefreshReceiverTokensResponseBody'
                        required:
                            - id
                            - url
                            - name
                            - exports
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferRefreshReceiverTokensBufferReceiverNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
    /v1/tasks/{taskId}:
        get:
            tags:
                - configuration
            summary: Get task
            description: Get details of a task.
            operationId: GetTask
            parameters:
                - name: taskId
                  in: path
                  description: Unique ID of the task.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/BufferGetTaskResponseBody'
                        required:
                            - id
                            - url
                            - status
                            - isFinished
                            - createdAt
                "404":
                    description: Not Found response.
                    schema:
                        $ref: '#/definitions/BufferGetTaskBufferTaskNotFoundResponseBody'
                        required:
                            - statusCode
                            - error
                            - message
            schemes:
                - https
            security:
                - storage-api-token: []
definitions:
    BufferAPIVersionIndexResponseBody:
        title: BufferAPIVersionIndexResponseBody
        type: object
        properties:
            api:
                type: string
                description: Name of the API
                example: buffer
            documentation:
                type: string
                description: URL of the API documentation.
                example: https://buffer.keboola.com/v1/documentation
        example:
            api: buffer
            documentation: https://buffer.keboola.com/v1/documentation
        required:
            - api
            - documentation
    BufferCreateExportBufferExportAlreadyExistsResponseBody:
        title: BufferCreateExportBufferExportAlreadyExistsResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Export already exists in the receiver.
        example:
            statusCode: 409
            error: buffer.exportAlreadyExists
            message: Export already exists in the receiver.
        required:
            - statusCode
            - error
            - message
    BufferCreateExportBufferReceiverNotFoundResponseBody:
        title: BufferCreateExportBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferCreateExportBufferResourceLimitReachedResponseBody:
        title: BufferCreateExportBufferResourceLimitReachedResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Resource limit reached.
        example:
            statusCode: 422
            error: buffer.resourceLimitReached
            message: Maximum number of receivers per project is 100.
        required:
            - statusCode
            - error
            - message
    BufferCreateExportRequestBody:
        title: BufferCreateExportRequestBody
        type: object
        properties:
            conditions:
                $ref: '#/definitions/ConditionsRequestBody'
            id:
                type: string
                description: Optional ID, if not filled in, it will be generated from name. Cannot be changed later.
                example: uy
                minLength: 1
                maxLength: 48
            mapping:
                $ref: '#/definitions/MappingRequestBody'
            name:
                type: string
                description: Human readable name of the export.
                example: Raw Data Export
                minLength: 1
                maxLength: 40
        example:
            conditions:
                count: 100
                size: 12kB
                time: 1m10s
            id: ymc
            mapping:
                tableId: in.c-github.changes
                incremental: true
                columns:
                    - type: id
                      name: column1
                      template:
                        language: ""
                        content: ""
                    - type: datetime
                      name: column2
                      template:
                        language: ""
                        content: ""
                    - type: ip
                      name: column3
                      template:
                        language: ""
                        content: ""
                    - type: headers
                      name: column5
                      template:
                        language: ""
                        content: ""
                    - type: template
                      name: column6
                      template:
                        language: jsonnet
                        content: body.foo + "-" + body.bar
            name: Raw Data Export
        required:
            - name
            - mapping
    BufferCreateExportResponseBody:
        title: BufferCreateExportResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: Quidem molestiae enim ut.
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            id:
                type: string
                example: In mollitia veniam sint.
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: true
            result:
                type: string
                example: Consequuntur ut.
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: processing
                enum:
                    - processing
                    - success
                    - error
            url:
                type: string
                description: URL of the task.
                example: Aut laborum necessitatibus.
        example:
            id: task-1
            receiverId: receiver-1
            url: https://buffer.keboola.com/v1/receivers/receiver-1/tasks/receiver.create/2018-01-01T00:00:00.000Z_task-1
            type: export
            createdAt: "2018-01-01T00:00:00.000Z"
            finishedAt: "2018-01-01T00:00:00.000Z"
            isFinished: true
            duration: 123
            result: success
            error: ""
        required:
            - id
            - url
            - status
            - isFinished
            - createdAt
    BufferCreateReceiverBufferReceiverAlreadyExistsResponseBody:
        title: BufferCreateReceiverBufferReceiverAlreadyExistsResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver already exists in the project.
        example:
            statusCode: 409
            error: buffer.receiverAlreadyExists
            message: Receiver already exists in the project.
        required:
            - statusCode
            - error
            - message
    BufferCreateReceiverBufferResourceLimitReachedResponseBody:
        title: BufferCreateReceiverBufferResourceLimitReachedResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Resource limit reached.
        example:
            statusCode: 422
            error: buffer.resourceLimitReached
            message: Maximum number of receivers per project is 100.
        required:
            - statusCode
            - error
            - message
    BufferCreateReceiverRequestBody:
        title: BufferCreateReceiverRequestBody
        type: object
        properties:
            exports:
                type: array
                items:
                    $ref: '#/definitions/CreateExportDataRequestBody'
                description: List of exports, max 20 exports per a receiver.
                example:
                    - conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
                      id: "4"
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      name: Raw Data Export
                    - conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
                      id: "4"
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      name: Raw Data Export
                    - conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
                      id: "4"
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      name: Raw Data Export
            id:
                type: string
                description: Optional ID, if not filled in, it will be generated from name. Cannot be changed later.
                example: h
                minLength: 1
                maxLength: 48
            name:
                type: string
                description: Human readable name of the receiver.
                example: Github Webhook Receiver
                minLength: 1
                maxLength: 40
        example:
            exports:
                - conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
                  id: "4"
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  name: Raw Data Export
                - conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
                  id: "4"
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  name: Raw Data Export
                - conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
                  id: "4"
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  name: Raw Data Export
                - conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
                  id: "4"
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  name: Raw Data Export
            id: lb
            name: Github Webhook Receiver
        required:
            - name
    BufferCreateReceiverResponseBody:
        title: BufferCreateReceiverResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: Fuga quidem sint numquam magnam ut nesciunt.
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            id:
                type: string
                example: Laudantium est eaque.
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: true
            result:
                type: string
                example: Dolorem qui.
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: processing
                enum:
                    - processing
                    - success
                    - error
            url:
                type: string
                description: URL of the task.
                example: Optio voluptas voluptas velit et ipsum.
        example:
            id: task-1
            receiverId: receiver-1
            url: https://buffer.keboola.com/v1/receivers/receiver-1/tasks/receiver.create/2018-01-01T00:00:00.000Z_task-1
            type: export
            createdAt: "2018-01-01T00:00:00.000Z"
            finishedAt: "2018-01-01T00:00:00.000Z"
            isFinished: true
            duration: 123
            result: success
            error: ""
        required:
            - id
            - url
            - status
            - isFinished
            - createdAt
    BufferDeleteExportBufferExportNotFoundResponseBody:
        title: BufferDeleteExportBufferExportNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Export not found error.
        example:
            statusCode: 404
            error: buffer.exportNotFound
            message: Export "github-changed-files" not found.
        required:
            - statusCode
            - error
            - message
    BufferDeleteExportBufferReceiverNotFoundResponseBody:
        title: BufferDeleteExportBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferDeleteReceiverBufferReceiverNotFoundResponseBody:
        title: BufferDeleteReceiverBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferGetExportBufferExportNotFoundResponseBody:
        title: BufferGetExportBufferExportNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Export not found error.
        example:
            statusCode: 404
            error: buffer.exportNotFound
            message: Export "github-changed-files" not found.
        required:
            - statusCode
            - error
            - message
    BufferGetExportBufferReceiverNotFoundResponseBody:
        title: BufferGetExportBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferGetExportResponseBody:
        title: BufferGetExportResponseBody
        type: object
        properties:
            conditions:
                $ref: '#/definitions/ConditionsResponseBody'
            id:
                type: string
                example: i
                minLength: 1
                maxLength: 48
            mapping:
                $ref: '#/definitions/MappingResponseBody'
            name:
                type: string
                description: Human readable name of the export.
                example: Raw Data Export
                minLength: 1
                maxLength: 40
            receiverId:
                type: string
                example: o
                minLength: 1
                maxLength: 48
        example:
            id: github-changed-files
            receiverId: ""
            name: GitHub Changed Files
            mapping:
                tableId: in.c-github.changes
                incremental: true
                columns:
                    - type: id
                      name: column1
                      template:
                        language: ""
                        content: ""
                    - type: datetime
                      name: column2
                      template:
                        language: ""
                        content: ""
                    - type: ip
                      name: column3
                      template:
                        language: ""
                        content: ""
                    - type: headers
                      name: column5
                      template:
                        language: ""
                        content: ""
                    - type: template
                      name: column6
                      template:
                        language: jsonnet
                        content: body.foo + "-" + body.bar
            conditions:
                count: 100
                size: 12kB
                time: 1m10s
        required:
            - id
            - receiverId
            - name
            - mapping
            - conditions
    BufferGetReceiverBufferReceiverNotFoundResponseBody:
        title: BufferGetReceiverBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferGetReceiverResponseBody:
        title: BufferGetReceiverResponseBody
        type: object
        properties:
            exports:
                type: array
                items:
                    $ref: '#/definitions/ExportResponseBody'
                description: List of exports, max 20 exports per a receiver.
                example:
                    - id: github-changed-files
                      receiverId: ""
                      name: GitHub Changed Files
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
            id:
                type: string
                example: pp7
                minLength: 1
                maxLength: 48
            name:
                type: string
                description: Human readable name of the receiver.
                example: Github Webhook Receiver
                minLength: 1
                maxLength: 40
            url:
                type: string
                description: URL of the receiver. Contains secret used for authentication.
                example: Optio ut delectus maxime qui sint facilis.
        example:
            id: github-pull-requests
            url: https://buffer.keboola.com/v1/import/1000/github-pull-requests/UBdJHwifkaQxbVwPyaRstdYpcboGwksSluCGIUWKttTiUdVH
            name: receiver 1
            exports:
                - id: github-changed-files
                  receiverId: ""
                  name: GitHub Changed Files
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
        required:
            - id
            - url
            - name
            - exports
    BufferGetTaskBufferTaskNotFoundResponseBody:
        title: BufferGetTaskBufferTaskNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Task not found error.
        example:
            statusCode: 404
            error: buffer.taskNotFound
            message: Task "001" not found.
        required:
            - statusCode
            - error
            - message
    BufferGetTaskResponseBody:
        title: BufferGetTaskResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: Dolorum ipsam nulla laboriosam ad.
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            id:
                type: string
                example: Quos beatae.
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: true
            result:
                type: string
                example: Eveniet sequi itaque provident dolorum suscipit aut.
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: error
                enum:
                    - processing
                    - success
                    - error
            url:
                type: string
                description: URL of the task.
                example: Eaque eum possimus ut qui aut.
        example:
            id: task-1
            receiverId: receiver-1
            url: https://buffer.keboola.com/v1/receivers/receiver-1/tasks/receiver.create/2018-01-01T00:00:00.000Z_task-1
            type: export
            createdAt: "2018-01-01T00:00:00.000Z"
            finishedAt: "2018-01-01T00:00:00.000Z"
            isFinished: true
            duration: 123
            result: success
            error: ""
        required:
            - id
            - url
            - status
            - isFinished
            - createdAt
    BufferImportBufferPayloadTooLargeResponseBody:
        title: BufferImportBufferPayloadTooLargeResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Payload too large.
        example:
            statusCode: 413
            error: buffer.payloadTooLarge
            message: Payload too large, the maximum size is 1MB.
        required:
            - statusCode
            - error
            - message
    BufferImportBufferReceiverNotFoundResponseBody:
        title: BufferImportBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferListExportsBufferReceiverNotFoundResponseBody:
        title: BufferListExportsBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferListExportsResponseBody:
        title: BufferListExportsResponseBody
        type: object
        properties:
            exports:
                type: array
                items:
                    $ref: '#/definitions/ExportResponseBody'
                example:
                    - id: github-changed-files
                      receiverId: ""
                      name: GitHub Changed Files
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
        example:
            exports:
                - id: github-changed-files
                  receiverId: ""
                  name: GitHub Changed Files
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
        required:
            - exports
    BufferListReceiversResponseBody:
        title: BufferListReceiversResponseBody
        type: object
        properties:
            receivers:
                type: array
                items:
                    $ref: '#/definitions/ReceiverResponseBody'
                example:
                    - id: github-pull-requests
                      url: https://buffer.keboola.com/v1/import/1000/github-pull-requests/UBdJHwifkaQxbVwPyaRstdYpcboGwksSluCGIUWKttTiUdVH
                      name: receiver 1
                      exports:
                        - id: github-changed-files
                          receiverId: ""
                          name: GitHub Changed Files
                          mapping:
                            tableId: in.c-github.changes
                            incremental: true
                            columns:
                                - type: id
                                  name: column1
                                  template:
                                    language: ""
                                    content: ""
                                - type: datetime
                                  name: column2
                                  template:
                                    language: ""
                                    content: ""
                                - type: ip
                                  name: column3
                                  template:
                                    language: ""
                                    content: ""
                                - type: headers
                                  name: column5
                                  template:
                                    language: ""
                                    content: ""
                                - type: template
                                  name: column6
                                  template:
                                    language: jsonnet
                                    content: body.foo + "-" + body.bar
                          conditions:
                            count: 100
                            size: 12kB
                            time: 1m10s
        example:
            receivers:
                - id: github-pull-requests
                  url: https://buffer.keboola.com/v1/import/1000/github-pull-requests/UBdJHwifkaQxbVwPyaRstdYpcboGwksSluCGIUWKttTiUdVH
                  name: receiver 1
                  exports:
                    - id: github-changed-files
                      receiverId: ""
                      name: GitHub Changed Files
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
        required:
            - receivers
    BufferRefreshReceiverTokensBufferReceiverNotFoundResponseBody:
        title: BufferRefreshReceiverTokensBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferRefreshReceiverTokensResponseBody:
        title: BufferRefreshReceiverTokensResponseBody
        type: object
        properties:
            exports:
                type: array
                items:
                    $ref: '#/definitions/ExportResponseBody'
                description: List of exports, max 20 exports per a receiver.
                example:
                    - id: github-changed-files
                      receiverId: ""
                      name: GitHub Changed Files
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
            id:
                type: string
                example: y6
                minLength: 1
                maxLength: 48
            name:
                type: string
                description: Human readable name of the receiver.
                example: Github Webhook Receiver
                minLength: 1
                maxLength: 40
            url:
                type: string
                description: URL of the receiver. Contains secret used for authentication.
                example: Consequatur nisi.
        example:
            id: github-pull-requests
            url: https://buffer.keboola.com/v1/import/1000/github-pull-requests/UBdJHwifkaQxbVwPyaRstdYpcboGwksSluCGIUWKttTiUdVH
            name: receiver 1
            exports:
                - id: github-changed-files
                  receiverId: ""
                  name: GitHub Changed Files
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
        required:
            - id
            - url
            - name
            - exports
    BufferUpdateExportBufferExportNotFoundResponseBody:
        title: BufferUpdateExportBufferExportNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Export not found error.
        example:
            statusCode: 404
            error: buffer.exportNotFound
            message: Export "github-changed-files" not found.
        required:
            - statusCode
            - error
            - message
    BufferUpdateExportBufferReceiverNotFoundResponseBody:
        title: BufferUpdateExportBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferUpdateExportRequestBody:
        title: BufferUpdateExportRequestBody
        type: object
        properties:
            conditions:
                $ref: '#/definitions/ConditionsRequestBody'
            mapping:
                $ref: '#/definitions/MappingRequestBody'
            name:
                type: string
                description: Human readable name of the export.
                example: Raw Data Export
                minLength: 1
                maxLength: 40
        example:
            conditions:
                count: 100
                size: 12kB
                time: 1m10s
            mapping:
                tableId: in.c-github.changes
                incremental: true
                columns:
                    - type: id
                      name: column1
                      template:
                        language: ""
                        content: ""
                    - type: datetime
                      name: column2
                      template:
                        language: ""
                        content: ""
                    - type: ip
                      name: column3
                      template:
                        language: ""
                        content: ""
                    - type: headers
                      name: column5
                      template:
                        language: ""
                        content: ""
                    - type: template
                      name: column6
                      template:
                        language: jsonnet
                        content: body.foo + "-" + body.bar
            name: Raw Data Export
    BufferUpdateExportResponseBody:
        title: BufferUpdateExportResponseBody
        type: object
        properties:
            createdAt:
                type: string
                description: Date and time of the task creation.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            duration:
                type: integer
                description: Duration of the task in milliseconds.
                example: 123456789
                format: int64
            error:
                type: string
                example: Porro ut adipisci molestias quo.
            finishedAt:
                type: string
                description: Date and time of the task end.
                example: "2022-04-28T14:20:04.000Z"
                format: date-time
            id:
                type: string
                example: Tenetur molestiae.
            isFinished:
                type: boolean
                description: Shortcut for status != "processing".
                example: true
            result:
                type: string
                example: Non esse aut dolores.
            status:
                type: string
                description: 'Task status, one of: processing, success, error'
                example: error
                enum:
                    - processing
                    - success
                    - error
            url:
                type: string
                description: URL of the task.
                example: Dolorem voluptas aut.
        example:
            id: task-1
            receiverId: receiver-1
            url: https://buffer.keboola.com/v1/receivers/receiver-1/tasks/receiver.create/2018-01-01T00:00:00.000Z_task-1
            type: export
            createdAt: "2018-01-01T00:00:00.000Z"
            finishedAt: "2018-01-01T00:00:00.000Z"
            isFinished: true
            duration: 123
            result: success
            error: ""
        required:
            - id
            - url
            - status
            - isFinished
            - createdAt
    BufferUpdateReceiverBufferReceiverNotFoundResponseBody:
        title: BufferUpdateReceiverBufferReceiverNotFoundResponseBody
        type: object
        properties:
            error:
                type: string
                description: Name of error.
                example: buffer.internalError
            message:
                type: string
                description: Error message.
                example: Internal Error
            statusCode:
                type: integer
                description: HTTP status code.
                example: 500
                format: int64
        description: Receiver not found error.
        example:
            statusCode: 404
            error: buffer.receiverNotFound
            message: Receiver "github-pull-requests" not found.
        required:
            - statusCode
            - error
            - message
    BufferUpdateReceiverRequestBody:
        title: BufferUpdateReceiverRequestBody
        type: object
        properties:
            name:
                type: string
                description: Human readable name of the receiver.
                example: Github Webhook Receiver
                minLength: 1
                maxLength: 40
        example:
            name: Github Webhook Receiver
    BufferUpdateReceiverResponseBody:
        title: BufferUpdateReceiverResponseBody
        type: object
        properties:
            exports:
                type: array
                items:
                    $ref: '#/definitions/ExportResponseBody'
                description: List of exports, max 20 exports per a receiver.
                example:
                    - id: github-changed-files
                      receiverId: ""
                      name: GitHub Changed Files
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
            id:
                type: string
                example: mzk
                minLength: 1
                maxLength: 48
            name:
                type: string
                description: Human readable name of the receiver.
                example: Github Webhook Receiver
                minLength: 1
                maxLength: 40
            url:
                type: string
                description: URL of the receiver. Contains secret used for authentication.
                example: Doloribus quia officiis.
        example:
            id: github-pull-requests
            url: https://buffer.keboola.com/v1/import/1000/github-pull-requests/UBdJHwifkaQxbVwPyaRstdYpcboGwksSluCGIUWKttTiUdVH
            name: receiver 1
            exports:
                - id: github-changed-files
                  receiverId: ""
                  name: GitHub Changed Files
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
                        - type: template
                          name: column6
                          template:
                            language: jsonnet
                            content: body.foo + "-" + body.bar
                  conditions:
                    count: 100
                    size: 12kB
                    time: 1m10s
        required:
            - id
            - url
            - name
            - exports
    ColumnRequestBody:
        title: ColumnRequestBody
        type: object
        properties:
            name:
                type: string
                description: Column name.
                example: Voluptatibus dicta ex voluptas error maxime natus.
            primaryKey:
                type: boolean
                description: Sets this column as a part of the primary key of the destination table.
                default: false
                example: false
            template:
                $ref: '#/definitions/TemplateRequestBody'
            type:
                type: string
                description: Column mapping type. This represents a static mapping (e.g. `body` or `headers`), or a custom mapping using a template language (`template`).
                example: template
                enum:
                    - id
                    - datetime
                    - ip
                    - body
                    - headers
                    - template
        description: An output mapping defined by a template.
        example:
            type: body
            name: column4
            template:
                language: ""
                content: ""
        required:
            - type
            - name
    ColumnResponseBody:
        title: ColumnResponseBody
        type: object
        properties:
            name:
                type: string
                description: Column name.
                example: Veritatis sunt voluptatem voluptatem.
            primaryKey:
                type: boolean
                description: Sets this column as a part of the primary key of the destination table.
                default: false
                example: false
            template:
                $ref: '#/definitions/TemplateResponseBody'
            type:
                type: string
                description: Column mapping type. This represents a static mapping (e.g. `body` or `headers`), or a custom mapping using a template language (`template`).
                example: body
                enum:
                    - id
                    - datetime
                    - ip
                    - body
                    - headers
                    - template
        description: An output mapping defined by a template.
        example:
            type: body
            name: column4
            template:
                language: ""
                content: ""
        required:
            - type
            - name
    ConditionsRequestBody:
        title: ConditionsRequestBody
        type: object
        properties:
            count:
                type: integer
                description: Maximum import buffer size in number of records.
                default: 10000
                example: 7392344
                minimum: 1
                maximum: 1e+07
            size:
                type: string
                description: 'Maximum import buffer size in bytes. Units: B, KB, MB.'
                default: 5MB
                example: Sit qui repellendus et voluptas ex.
            time:
                type: string
                description: 'Minimum import interval. Units: [s]econd,[m]inute,[h]our.'
                default: 5m0s
                example: Laborum quod.
        description: Table import triggers.
        example:
            count: 100
            size: 12kB
            time: 1m10s
    ConditionsResponseBody:
        title: ConditionsResponseBody
        type: object
        properties:
            count:
                type: integer
                description: Maximum import buffer size in number of records.
                default: 10000
                example: 2812913
                minimum: 1
                maximum: 1e+07
            size:
                type: string
                description: 'Maximum import buffer size in bytes. Units: B, KB, MB.'
                default: 5MB
                example: Vel ratione fugiat omnis cupiditate.
            time:
                type: string
                description: 'Minimum import interval. Units: [s]econd,[m]inute,[h]our.'
                default: 5m0s
                example: Ut quis voluptatem inventore totam aliquam.
        description: Table import triggers.
        example:
            count: 100
            size: 12kB
            time: 1m10s
    CreateExportDataRequestBody:
        title: CreateExportDataRequestBody
        type: object
        properties:
            conditions:
                $ref: '#/definitions/ConditionsRequestBody'
            id:
                type: string
                description: Optional ID, if not filled in, it will be generated from name. Cannot be changed later.
                example: 5qn
                minLength: 1
                maxLength: 48
            mapping:
                $ref: '#/definitions/MappingRequestBody'
            name:
                type: string
                description: Human readable name of the export.
                example: Raw Data Export
                minLength: 1
                maxLength: 40
        example:
            conditions:
                count: 100
                size: 12kB
                time: 1m10s
            id: z
            mapping:
                tableId: in.c-github.changes
                incremental: true
                columns:
                    - type: id
                      name: column1
                      template:
                        language: ""
                        content: ""
                    - type: datetime
                      name: column2
                      template:
                        language: ""
                        content: ""
                    - type: ip
                      name: column3
                      template:
                        language: ""
                        content: ""
                    - type: headers
                      name: column5
                      template:
                        language: ""
                        content: ""
                    - type: template
                      name: column6
                      template:
                        language: jsonnet
                        content: body.foo + "-" + body.bar
            name: Raw Data Export
        required:
            - name
            - mapping
    ExportResponseBody:
        title: ExportResponseBody
        type: object
        properties:
            conditions:
                $ref: '#/definitions/ConditionsResponseBody'
            id:
                type: string
                example: ss
                minLength: 1
                maxLength: 48
            mapping:
                $ref: '#/definitions/MappingResponseBody'
            name:
                type: string
                description: Human readable name of the export.
                example: Raw Data Export
                minLength: 1
                maxLength: 40
            receiverId:
                type: string
                example: pic
                minLength: 1
                maxLength: 48
        description: A mapping from imported data to a destination table.
        example:
            id: github-changed-files
            receiverId: ""
            name: GitHub Changed Files
            mapping:
                tableId: in.c-github.changes
                incremental: true
                columns:
                    - type: id
                      name: column1
                      template:
                        language: ""
                        content: ""
                    - type: datetime
                      name: column2
                      template:
                        language: ""
                        content: ""
                    - type: ip
                      name: column3
                      template:
                        language: ""
                        content: ""
                    - type: headers
                      name: column5
                      template:
                        language: ""
                        content: ""
                    - type: template
                      name: column6
                      template:
                        language: jsonnet
                        content: body.foo + "-" + body.bar
            conditions:
                count: 100
                size: 12kB
                time: 1m10s
        required:
            - id
            - receiverId
            - name
            - mapping
            - conditions
    MappingRequestBody:
        title: MappingRequestBody
        type: object
        properties:
            columns:
                type: array
                items:
                    $ref: '#/definitions/ColumnRequestBody'
                description: List of export column mappings. An export may have a maximum of 50 columns.
                example:
                    - type: body
                      name: column4
                      template:
                        language: ""
                        content: ""
            incremental:
                type: boolean
                description: Enables incremental loading to the table.
                example: true
            tableId:
                type: string
                description: Destination table ID.
                example: Culpa laudantium.
        description: Export column mapping.
        example:
            tableId: in.c-github.changes
            incremental: true
            columns:
                - type: id
                  name: column1
                  template:
                    language: ""
                    content: ""
                - type: datetime
                  name: column2
                  template:
                    language: ""
                    content: ""
                - type: ip
                  name: column3
                  template:
                    language: ""
                    content: ""
                - type: headers
                  name: column5
                  template:
                    language: ""
                    content: ""
                - type: template
                  name: column6
                  template:
                    language: jsonnet
                    content: body.foo + "-" + body.bar
        required:
            - tableId
            - columns
    MappingResponseBody:
        title: MappingResponseBody
        type: object
        properties:
            columns:
                type: array
                items:
                    $ref: '#/definitions/ColumnResponseBody'
                description: List of export column mappings. An export may have a maximum of 50 columns.
                example:
                    - type: body
                      name: column4
                      template:
                        language: ""
                        content: ""
            incremental:
                type: boolean
                description: Enables incremental loading to the table.
                example: true
            tableId:
                type: string
                description: Destination table ID.
                example: Sunt in dolorem nihil dolores.
        description: Export column mapping.
        example:
            tableId: in.c-github.changes
            incremental: true
            columns:
                - type: id
                  name: column1
                  template:
                    language: ""
                    content: ""
                - type: datetime
                  name: column2
                  template:
                    language: ""
                    content: ""
                - type: ip
                  name: column3
                  template:
                    language: ""
                    content: ""
                - type: headers
                  name: column5
                  template:
                    language: ""
                    content: ""
                - type: template
                  name: column6
                  template:
                    language: jsonnet
                    content: body.foo + "-" + body.bar
        required:
            - tableId
            - columns
    ReceiverResponseBody:
        title: ReceiverResponseBody
        type: object
        properties:
            exports:
                type: array
                items:
                    $ref: '#/definitions/ExportResponseBody'
                description: List of exports, max 20 exports per a receiver.
                example:
                    - id: github-changed-files
                      receiverId: ""
                      name: GitHub Changed Files
                      mapping:
                        tableId: in.c-github.changes
                        incremental: true
                        columns:
                            - type: id
                              name: column1
                              template:
                                language: ""
                                content: ""
                            - type: datetime
                              name: column2
                              template:
                                language: ""
                                content: ""
                            - type: ip
                              name: column3
                              template:
                                language: ""
                                content: ""
                            - type: headers
                              name: column5
                              template:
                                language: ""
                                content: ""
                            - type: template
                              name: column6
                              template:
                                language: jsonnet
                                content: body.foo + "-" + body.bar
                      conditions:
                        count: 100
                        size: 12kB
                        time: 1m10s
            id:
                type: string
                example: f46
                minLength: 1
                maxLength: 48
            name:
                type: string
                description: Human readable name of the receiver.
                example: Github Webhook Receiver
                minLength: 1
                maxLength: 40
            url:
                type: string
                description: URL of the receiver. Contains secret used for authentication.
                example: Rerum dolorum minus.
        description: An endpoint for importing data, max 100 receivers per a project.
        example:
            id: github-pull-requests
            url: https://buffer.keboola.com/v1/import/1000/github-pull-requests/UBdJHwifkaQxbVwPyaRstdYpcboGwksSluCGIUWKttTiUdVH
            name: receiver 1
            exports:
                - id: github-changed-files
                  receiverId: ""
                  name: GitHub Changed Files
                  mapping:
                    tableId: in.c-github.changes
                    incremental: true
                    columns:
                        - type: id
                          name: column1
                          template:
                            language: ""
                            content: ""
                        - type: datetime
                          name: column2
                          template:
                            language: ""
                            content: ""
                        - type: ip
                          name: column3
                          template:
                            language: ""
                            content: ""
                        - type: headers
                          name: column5
                          template:
                            language: ""
                            content: ""
[...]
